
#breeding-apparatus {
  position: absolute;
  left: 3000px;
  top: 0px;
  overflow: hidden;
  width: 1300px;
  height: 900px;
}

#breed-top-bar {
  position: absolute;
  background: top left no-repeat url('../images/breed-top-bar.png');
  left: 0px;
  top: 50px;
  width: 1040px;
  height: 152px;
}

.breed-title {
  position: relative;
  float: left;
  font-size: 2.1em;
  top: 58px;
  left: 16px;
}

.task-description {
  position: absolute;
  top: 51px;
  left: 249px;
  width: 623px;
}

.select-parents {
  position: relative;
  top: 10px;
  left: 777px;
  width: 140px;
  height: 39px;
  float: left;
  cursor: pointer;
}

#breeder {
  position: absolute;
  background: top left no-repeat url('../images/mock_02-01.png');
  background-color: white;
  left: 0px;
  top: 50px;
  width: 2040px;
  height: 612px; /*552px;*/
}

#breed-controls {
  position: absolute;
  background-image: url('../images/breed-controls.png');
  top: 268px;
  left: 742px;
  width: 268px;
  height: 101px;
  z-index: 2;
}

#breed-button {
  position: absolute;
  top: 5px;
  left: 167px;
  width: 93px;
  height: 90px;
}

#breed-button.enabled {
  cursor: pointer;
}

#breed-button.enabled:active {
  background-image: none;
}

#target {
  position: absolute;
  top: 284px;
  left: 615px;
  width: 124px;
  height: 83px;
  font-weight: bold;
}

#target-traits {
  position: relative;
  left: 10px;
  top: 5px;
}

.parent {
  position: relative;
  display: inline-block;
}

#parent-fathers-pool-container {
  position: absolute;
  width: 490px;
  height: 205px;
  top: 115px;
  left: 20px;
  overflow: auto;
}

#parent-mothers-pool-container {
  position: absolute;
  top: 322px;
  width: 490px;
  height: 205px;
  left: 20px;
  overflow: auto;
}

#parent-pool-divider {
  top: 320px;
  height: 2px;
  width: 495px;
  left: 18px;
  position: absolute;
  background-color: #787878;
}

#father-chromosome {
  position: absolute;
  top: 130px;
  left: 800px;
  height: 265px;
  width: 125px;
}

#mother-chromosome {
  position: absolute;
  top: 385px;
  left: 800px;
  height: 265px;
  width: 125px;
}

#offspring-pool .offspring {
  display: inline-block;
  position: relative;
}

.offspring .alleleString {
  text-align: center;
  width: 200px;
  bottom: 15px;
  position: absolute;
  color: white;
}

#offspring-buttons {
  background: top left no-repeat url('../images/offspring-buttons.png');
  position: absolute;
  top: 230px;
  left: -35px;
  width: 352px;
  height: 42px;
}

#offspring-buttons>div {
  position: relative;
  width: 170px;
  height: 35px;
  float: left;
  cursor: pointer;
}

.offspring-buttons-use {
  top: 3px;
  left: 9px;
}

.offspring-buttons-save {
  top: 3px;
  left: 3px;
}

/*
.offspring-buttons-free {
  top: 3px;
  left: 27px;
}*/

.removeButton {
  display: none;
}

.parent-pool .parent:hover .removeButton {
  display: inline;
  position: absolute;
  left: 10px;
  bottom: 15px;
  z-index: 2;
}

#offspring-pool {
  position: absolute;
  width: 150px;
  top: 195px;
  left: 1135px;
  text-align: right;
}

#father {
  position: absolute;
  left: 575px;
  top: 109px;
}

#father span {
  position: absolute;
  left: 40px;
  top: 113px;
  color: white;
}

#mother {
  position: absolute;
  left: 575px;
  top: 356px;
}

#mother span {
  position: absolute;
  left: 40px;
  top: 113px;
  color: white;
}

#egg-container {
  position: absolute;
  left: 200px;
  top: 251px;
}

#egg {
  background-image: url('../images/egg-sprite.png');
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: 0px 0px
}

.move-counter {
  position: absolute;
  top: 35px;
  left: -1px;
  width: 85px;
  height: 37px;
  background: white;
}

.moveCounterDigit {
  position: absolute;
  width: 25px;
  height: 35px;
  top: 1px;
  left: 0px;
  background: top left no-repeat url('../images/move-counter-sprite.png');
}

#moveCounterHundreds {
  left: 3px;
}

#moveCounterTens {
  left: 30px;
}

#moveCounterOnes {
  left: 57px;
}

.match-goal-counter {
  position: absolute;
  left: 490px;
  top: 500px;
  width: 100px;
}
