.needs-caching.drake-albino {
  background: url("../images/drakes/albino.png");
}
.needs-caching.drake-blue {
  background: url("../images/drakes/blue.png");
}
.needs-caching.drake-green {
  background: url("../images/drakes/green.png");
}
.needs-caching.drake-purple {
  background: url("../images/drakes/purple.png");
}
.needs-caching.drake-red {
  background: url("../images/drakes/red.png");
}
.needs-caching.drake-shinyBlue {
  background: url("../images/drakes/shinyBlue.png");
}
.needs-caching.drake-shinyGreen {
  background: url("../images/drakes/shinyGreen.png");
}
.needs-caching.drake-shinyPurple {
  background: url("../images/drakes/shinyPurple.png");
}
.needs-caching.drake-shinyRed {
  background: url("../images/drakes/shinyRed.png");
}
.needs-caching.npc-npc1_bookkeeper1 {
  background: url("../images/npc1_bookkeeper1.png");
}
.needs-caching.npc-npc1_bookkeeper1_left {
  background: url("../images/npc1_bookkeeper1_left.png");
}
.needs-caching.npc-npc2_alchemist1 {
  background: url("../images/npc2_alchemist1.png");
}
.needs-caching.npc-npc2_alchemist1_right {
  background: url("../images/npc2_alchemist1_right.png");
}
.needs-caching.npc-npc2_alchemist2 {
  background: url("../images/npc2_alchemist2.png");
}
.needs-caching.npc-npc2_alchemist2_right {
  background: url("../images/npc2_alchemist2_right.png");
}
.needs-caching.bubbles.heart {
  background: url("../images/heart-bubble.png");
}
.needs-caching.bubbles.question {
  background: url("../images/bubble-question.png");
}
.needs-caching.misc.delete {
  background: url("../images/delete.png");
}
#breeding-apparatus {
  position: absolute;
  top: 0;
  left: 3000px;
  width: 960px;
  height: 900px;
  overflow: hidden;
}
#breeding-background {
  position: absolute;
  top: 60px;
  left: 0;
  width: 1300px;
  height: 900px;
  background: top left no-repeat url("../images/background_meiosis.jpg");
  background-color: #000;
  overflow: hidden;
}
#breed-top-bar {
  position: absolute;
  top: 0px;
  left: 0;
  width: 1040px;
  height: 152px;
}
#task-description {
  position: absolute;
  top: 28px;
  left: 32px;
  width: 770px;
}
#progress-bar {
  position: absolute;
  top: 63px;
  left: 25px;
  height: 35px;
  background: top left no-repeat url("../images/breeding-progress-overlay.png");
}
#progress-bar.selecting {
  width: 128px;
}
#progress-bar.breeding {
  width: 645px;
}
#progress-bar.results {
  width: 772px;
}
#breeder {
  position: absolute;
  top: 110px;
  left: 0;
  width: 2040px;
  height: 423px;
  background: top left no-repeat url("../images/breeding-panels-left.png");
}
#breed-controls {
  position: absolute;
  top: 165px;
  left: 650px;
  width: 268px;
  height: 101px;
  z-index: 2;
  background-position: 0 101px;
}
#breed-controls.game {
  background-image: url("../images/breed-controls.png");
}
#breed-controls.baseline {
  background-image: url("../images/breed-controls-baseline.png");
}
#breed-controls.control-enabled.automated {
  background-position: 0 0;
}
#breed-controls.control-enabled.controlled {
  background-position: 0 202px;
}
#meiosis-button {
  position: absolute;
  top: 22px;
  left: 94px;
  width: 68px;
  height: 37px;
}
#meiosis-button.control-enabled {
  cursor: pointer;
}
#breed-button {
  position: absolute;
  top: 6px;
  left: 170px;
  width: 86px;
  height: 89px;
  background: top left no-repeat url("../images/breed-button.png");
  background-position: 0 -262px;
}
#breed-button.enabled {
  background-position: 0 2px;
  cursor: pointer;
}
#breed-button.enabled:active {
  background-position: 0 -175px;
  cursor: pointer;
}
#breed-button.no-more-breeds {
  background-position: 0 -86px;
}
#target {
  position: absolute;
  top: 170px;
  left: 508px;
  width: 124px;
  height: 83px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: #bbb;
}
#target-traits {
  position: relative;
  top: 5px;
  left: 10px;
}
#target-tutorial-target {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 1px;
  height: 1px;
}
.parent {
  position: relative;
  display: inline-block;
}
#parent-fathers-pool-container {
  position: absolute;
  top: 23px;
  left: 20px;
  width: 420px;
  height: 182px;
  overflow: auto;
}
#parent-mothers-pool-container {
  position: absolute;
  top: 219px;
  left: 20px;
  width: 420px;
  height: 182px;
  overflow: auto;
}
.parent-pool {
  position: relative;
  top: -23px;
}
#parents-tutorial-target {
  position: absolute;
  top: 181px;
  left: 200px;
  width: 1px;
  height: 1px;
}
#father-chromosome {
  position: absolute;
  top: 20px;
  left: 680px;
  width: 275px;
  height: 130px;
}
#mother-chromosome {
  position: absolute;
  top: 285px;
  left: 680px;
  width: 275px;
  height: 130px;
}
#offspring-panel .offspring {
  position: relative;
  left: 0;
  width: 464px;
  height: 386px;
  display: inline-block;
}
#offspring-panel {
  position: relative;
  width: 464px;
  height: 386px;
  left: 400px;
  background: top left no-repeat url("../images/offspring-panel.png");
}
.offspring .drake {
  left: 94px;
}
#offspring-buttons {
  position: absolute;
  top: 297px;
  left: 29px;
  width: 390px;
  height: 42px;
}
#offspring-buttons>div {
  position: relative;
  top: 3px;
  width: 129px;
  height: 40px;
  float: left;
  cursor: pointer;
}
.offspring-buttons-back {
  background: top left no-repeat url("../images/button-back.png");
}
.offspring-buttons-back:active {
  background-position: 0 97%;
}
.offspring-buttons-use {
  background: top left no-repeat url("../images/finish-button.png");
}
.offspring-buttons-use:active {
  background-position: 0 97%;
}
.offspring-buttons-save {
  background: top left no-repeat url("../images/use-as-parent-button.png");
}
.offspring-buttons-save:active {
  background-position: 0 99%;
}
.offspring-buttons-save.disabled {
  background-position: 0 49%;
}
#parent-available-message {
  position: absolute;
  left: 96px;
  bottom: 140px;
  width: 275px;
  text-align: left;
  color: #333;
}
.removeButton {
  display: none;
}
.parent-pool .parent:hover .removeButton {
  position: absolute;
  left: 10px;
  bottom: 15px;
  display: inline;
  z-index: 2;
}
#offspring-pool {
  position: absolute;
  top: 10px;
  left: 1030px;
  width: 150px;
  text-align: right;
}
#father {
  position: absolute;
  top: -19px;
  left: 490px;
  height: 180px;
}
#father span {
  position: absolute;
  top: 113px;
  left: 40px;
  color: #fff;
}
#mother {
  position: absolute;
  top: 239px;
  left: 490px;
  height: 180px;
}
#mother span {
  position: absolute;
  top: 113px;
  left: 40px;
  color: #fff;
}
#egg-container {
  position: absolute;
  top: 251px;
  left: 200px;
}
#egg {
  background-image: url("../images/egg-sprite.png");
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.move-counter {
  position: absolute;
  top: 23px;
  left: 8px;
  width: 75px;
  height: 28px;
}
.moveCounterDigit {
  position: absolute;
  top: 1px;
  left: 0;
  width: 19px;
  height: 26px;
  background: top left no-repeat url("../images/move-counter-sprite.png");
}
#moveCounterHundreds {
  left: 2px;
}
#moveCounterTens {
  left: 28px;
}
#moveCounterOnes {
  left: 54px;
}
.match-goal-counter {
  position: absolute;
  top: 500px;
  left: 490px;
  width: 100px;
}
#completion-dialog {
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  width: 340px;
  height: 225px;
  left: 305px;
  top: 167px;
  background-color: #4e8da6;
  z-index: 20;
}
#completion-dialog-content {
  background-color: #fff;
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  top: 5px;
  padding: 14px;
  z-index: 21;
  text-align: center;
}
#completion-dialog-content .drake {
  position: absolute;
  top: -36px;
  left: 14px;
}
#completion-dialog-content .completion-text {
  position: absolute;
  top: 44px;
  left: 194px;
  right: 14px;
  text-align: center;
}
#completion-dialog-content .completion-rep {
  position: absolute;
  top: 150px;
  left: 14px;
  right: 14px;
  text-align: center;
}
#completion-dialog-content .completion-buttons {
  position: absolute;
  top: 180px;
  left: 14px;
  right: 14px;
  text-align: center;
}
.chromosome-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 265px;
  height: 125px;
}
#parent-mothers-pool-container .chromosome-panel {
  top: 135px;
}
#offspring-pool .chromosome-panel {
  top: 30px;
  left: -350px;
  width: 280px;
}
.chromosome {
  position: absolute;
  top: 10px;
  width: 35px;
  height: 130px;
}
.chromo-1.left {
  left: 36px;
}
.chromo-1.right {
  left: 70px;
}
.chromo-2.left {
  left: 115px;
}
.chromo-2.right {
  left: 149px;
}
.chromo-X.left {
  left: 193px;
}
.chromo-X.right {
  left: 227px;
}
.chromo-Y {
  left: 227px;
}
.chromosome:not(.chromo-Y) {
  background: top left no-repeat url("../images/chromosome-long.png");
  height: 113px;
}
.chromosome.chromo-Y {
  background: top left no-repeat url("../images/chromosome-short.png");
  height: 83px;
}
.chromosome.selectable {
  cursor: pointer;
}
.chromosome.selectable:not(.selected):not(.chromo-Y):hover {
  background-position: 0 -111px;
}
.chromosome.selectable:not(.selected).chromo-Y:hover {
  background-position: 0 -83px;
}
.chromosome.selected:not(.chromo-Y) {
  background-position: 0 -222px;
}
.chromosome.selected.chromo-Y {
  background-position: 0 -168px;
}
.alleles-container {
  position: relative;
  left: 4px;
  top: 6px;
}
.meiosis .alleles-container {
  position: relative;
  left: 0;
}
.allele {
  background: top center no-repeat url("../images/allele-bg.png");
  position: absolute;
  width: 25px;
  height: 22px;
  left: 0px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding-top: 4px;
  cursor: default;
}
.allele.revealable span {
  cursor: pointer;
}
.allele.tail,
.allele.horns,
.allele.dilute {
  top: 0px;
}
.allele.metallic,
.allele.color,
.allele.firebreathing {
  top: 25px;
}
.allele.wings,
.allele.green {
  top: 50px;
}
.allele.armor,
.allele.spikes {
  top: 75px;
}
.dominant {
  color: #ff0;
}
.recessive {
  color: #00f;
}
.recessive3 {
  color: #fff;
}
.drake {
  position: relative;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.drake .static {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
}
.drake .idle {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
}
.parent-pool .drake,
.parent-pool .drake .idle,
.parent-pool .drake .static {
  width: 130px;
  height: 130px;
}
.parent-pool .drake {
  background-repeat: no-repeat;
  background-position: 16px 31px;
}
.parent-pool .drake:hover {
  background-image: url("../images/glow.png");
}
.parent-pool .drake.selected {
  background-image: url("../images/glow-deep.png");
}
.offspring .drake,
.offspring .drake .idle,
.offspring .drake .static {
  width: 240px;
  height: 240px;
}
.drake-img {
  width: 100%;
}
.drake-idle-img {
  width: 1500%;
}
.drake-img,
.drake-idle-img {
  position: absolute;
  left: 0;
}
.drake-fire {
  top: 0px;
}
.drake-reverse-horns {
  top: -100%;
}
.drake-forward-horns {
  top: -200%;
}
.drake-male {
  top: -300%;
}
.drake-female {
  top: -400%;
}
.drake-wings {
  top: -500%;
}
.drake-armor {
  top: -600%;
}
.drake-wide-spikes {
  top: -700%;
}
.drake-medium-spikes {
  top: -800%;
}
.drake-shiny {
  top: -900%;
}
.drake-body-long-tail {
  top: -1000%;
}
.drake-body-kinked-tail {
  top: -1100%;
}
.drake-body-short-tail {
  top: -1200%;
}
.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
/* ==== Scroll down to find where to put your styles :) ==== */
/*  HTML5 ✰ Boilerplate  */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}
select,
input,
textarea,
button {
  font: 99% sans-serif;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
html {
  overflow-y: scroll;
}
a:hover,
a:active {
  outline: none;
}
ul,
ol {
  margin-left: 2em;
}
ol {
  list-style-type: decimal;
}
nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
small {
  font-size: 85%;
}
strong,
th {
  font-weight: bold;
}
td {
  vertical-align: top;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}
textarea {
  overflow: auto;
}
.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px #f00;
  -webkit-box-shadow: 0px 0px 5px #f00;
  box-shadow: 0px 0px 5px #f00;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}
::-moz-selection {
  background: #ff5e99;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #ff5e99;
  color: #fff;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}
button {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
body,
select,
input,
textarea {
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
a,
a:active,
a:visited {
  color: #607890;
}
a:hover {
  color: #036;
}
/*
    // ========================================== \    ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
@media all and (orientation:portrait) {
}
@media all and (orientation:landscape) {
}
@media screen and (max-device-width: 480px) {
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
#container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}
#container > div {
  position: relative;
  width: 1000px;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
}
#town {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 560px;
}
.castle {
  background: top left no-repeat url("../images/town01.jpg");
}
.village {
  background: top left no-repeat url("../images/town02.jpg");
}
.huts {
  background: top left no-repeat url("../images/town03.jpg");
}
.logout {
  background-color: #bbb;
  color: #fff;
  position: absolute;
  width: 70px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 1px #808080;
  text-align: center;
  z-index: 2;
}
.logout div {
  position: relative;
  top: 1px;
}
.logout:hover {
  cursor: pointer;
}
.logout:active {
  box-shadow: 1px 1px 1px 1px #808080;
}
#login {
  position: absolute;
  top: 250px;
  width: 700px;
  height: 701px;
  text-align: center;
}
#login div {
  padding: 3px;
}
#choose-class {
  position: absolute;
  top: 250px;
  width: 700px;
  height: 701px;
  text-align: center;
}
#choose-class div {
  padding: 3px;
}
#username,
#password {
  width: 200px;
}
#login-error {
  color: #f00;
  font-weight: bold;
}
#loadingStatus {
  position: relative;
  top: 150px;
}
#meiosis-container {
  position: absolute;
  left: 770px;
  top: 25px;
  width: 760px;
  height: 435px;
}
.cell {
  position: absolute;
  left: 10px;
  top: -10px;
  width: 300px;
  height: 120px;
  background-color: rgba(223,223,223,0.45);
  border-top: 40px solid transparent;
  z-index: -4;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
}
.meiosis.father,
.meiosis.mother {
  position: absolute;
  top: 0;
  left: -45px;
  width: 760px;
  height: 217px;
  z-index: 2;
}
.meiosis.mother {
  top: 218px;
}
.meiosis .chromosome-panel {
  position: absolute;
  top: 0;
  left: 0;
}
.meiosis .allele {
  margin-left: 4px;
}
.meiosisControlView {
  position: absolute;
  top: 0;
  left: 470px;
  width: 183px;
  height: 182px;
  background-color: #fff;
  border: 1px solid #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px #011627;
}
.meiosisControlView button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.meiosisControlView p,
.meiosisControlView h3 {
  padding: 5px;
}
.meiosisControlView .cost {
  position: absolute;
  left: 5px;
  bottom: 25px;
  width: 190px;
  font-weight: bold;
}
.crossoverPoint {
  position: absolute;
  height: 4px;
  width: 30px;
  left: 0px;
  z-index: 5;
}
.crossoverPoint.clickable {
  cursor: pointer;
  border: 1px dotted #000;
  margin: 0px;
  background-color: rgba(255,255,153,0.5);
}
.crossoverPoint.clickable:hover {
  background-color: #ffff96;
}
.crossoverPoint.selected {
  background-color: #ff0;
}
.crossoverPoint.tail,
.crossoverPoint.horns,
.crossoverPoint.dilute {
  top: -3px;
}
.crossoverPoint.metallic,
.crossoverPoint.color,
.crossoverPoint.firebreathing {
  top: 22px;
}
.crossoverPoint.wings,
.crossoverPoint.green {
  top: 47px;
}
.crossoverPoint.armor,
.crossoverPoint.spikes {
  top: 72px;
}
.npc {
  position: absolute;
}
.npc .character {
  position: absolute;
  top: 129px;
}
.npc .bubble {
  position: absolute;
  margin-left: 20px;
}
.speech-bubble {
  position: absolute;
  left: -220px;
  bottom: -70px;
  z-index: 2;
  font-size: 1.2em;
  width: 225px;
  background-color: #fbfce1;
  padding: 23px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.speech-bubble:after {
  position: absolute;
  right: 40px;
  bottom: -30px;
  width: 0;
  content: "";
  position: absolute;
  border-width: 0 20px 30px 0;
  border-style: solid;
  border-color: transparent #fbfce1;
  display: block;
}
.speech-bubble-no-npc {
  position: absolute;
  left: 340px;
  top: 134px;
  width: 225px;
  z-index: 2;
  font-size: 1.2em;
  background-color: #fbfce1;
  padding: 23px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  border: #000 solid 2px;
}
.heart-bubble {
  position: absolute;
  left: 0;
  top: 90px;
  z-index: 0;
}
#obstacle-course-dialog {
  display: none;
  border-radius: 5px;
  position: absolute;
  width: 340px;
  height: 395px;
  left: 305px;
  top: 167px;
  background-color: #4e8da6;
  z-index: 20;
}
#obstacle-course-dialog-content {
  background-color: #fff;
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  top: 5px;
  padding: 14px;
  z-index: 21;
  text-align: center;
}
#obstacle-course-dialog-content .align-left {
  position: absolute;
  left: 0px;
}
#obstacle-course-dialog-content .align-right {
  position: absolute;
  right: 0px;
}
#obstacle-course-dialog-content .drake {
  position: absolute;
  top: 44px;
  left: 14px;
  z-index: 22;
}
#obstacle-course-dialog-content .overall-time-text {
  position: absolute;
  top: 44px;
  left: 194px;
  right: 14px;
  text-align: center;
}
#obstacle-course-dialog-content .overall-time-text div {
  height: 1.3em;
}
#obstacle-course-dialog-content .obstacle-time-breakdown {
  position: absolute;
  bottom: 50px;
  left: 14px;
  width: 156px;
  text-align: center;
}
#obstacle-course-dialog-content .obstacle-time-breakdown div {
  height: 1.1em;
}
#obstacle-course-dialog-content .obstacle-time-breakdown div.divider {
  height: 2px;
  background-color: #ccc;
}
#obstacle-course-dialog-content .completion-rep {
  position: absolute;
  bottom: 50px;
  left: 170px;
  right: 14px;
  text-align: center;
}
#obstacle-course-dialog-content .obstacle-buttons {
  position: absolute;
  bottom: 14px;
  left: 14px;
  right: 14px;
  text-align: center;
}
#obstacle-course-dialog-content .first-obstacle {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 180px;
  height: 180px;
}
#obstacle-course-dialog-content .first-obstacle .obstacle {
  position: absolute;
  left: 0;
  display: inline-block;
}
#obstacle-course-dialog-content .first-obstacle .obstacle.ducks {
  background: bottom left no-repeat url("../images/obstacle-course/obstacle-ducks.png");
  width: 200px;
  height: 100px;
  position: absolute;
  bottom: 0px;
}
#obstacle-course-dialog-content .first-obstacle .obstacle.desk {
  background: bottom left no-repeat url("../images/obstacle-course/obstacle-desk.png");
  width: 200px;
  height: 100px;
  position: absolute;
  bottom: 0px;
}
#obstacle-course-dialog-content .first-obstacle .obstacle.sheep {
  background: bottom left no-repeat url("../images/obstacle-course/obstacle-sheep.png");
  width: 200px;
  height: 100px;
  position: absolute;
  bottom: 0px;
}
#obstacle-course-dialog-content .first-obstacle .obstacle.rain {
  background: bottom left no-repeat url("../images/obstacle-course/obstacle-rain.png");
  width: 200px;
  height: 100px;
  position: absolute;
  bottom: 0px;
}
#obstacle-course-dialog-content .first-obstacle .obstacle.tree {
  background: bottom left no-repeat url("../images/obstacle-course/tree01.png");
  width: 150px;
  height: 183px;
  position: absolute;
  bottom: 0px;
}
#obstacle-course-dialog-content .first-obstacle .obstacle.pond {
  background: bottom left no-repeat url("../images/obstacle-course/pond01.png");
  width: 200px;
  height: 84px;
  position: absolute;
  bottom: 0px;
}
#topBar {
  position: relative;
  left: -15px;
  width: 1034px;
  height: 59px;
  background-color: #969696;
  color: #fff;
  font-family: Verdana;
  font-size: 1.2em;
}
#topBar .logout {
  position: absolute;
  right: 55px;
  top: 15px;
  width: 75px;
  height: 25px;
}
#topBar .logout div {
  position: relative;
  top: 3px;
}
#greeting {
  position: absolute;
  left: 55px;
  top: 15px;
  font-size: 1.5em;
}
#reputation {
  position: absolute;
  left: 230px;
  top: 20px;
}
#level {
  position: absolute;
  left: 400px;
  top: 20px;
}
#sky {
  position: absolute;
  width: 1010px;
  height: 660px;
  background: url("../images/world01.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  border: 5px solid #402309;
}
#sky .logout {
  position: absolute;
  top: 10px;
  left: 10px;
}
#world {
  position: absolute;
  left: 250px;
  width: 712px;
  height: 712px;
  background-position: 0px 4px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
#clouds {
  position: absolute;
  left: 250px;
  width: 700px;
  height: 700px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.location {
  position: absolute;
  z-index: 1;
}
.location.enabled {
  cursor: pointer;
}
.huts {
  height: 90px;
  width: 120px;
}
.houses {
  height: 70px;
  width: 150px;
}
.townIcon1 {
  background: no-repeat url("../images/townIcon1-disabled.png");
  width: 175px;
  height: 125px;
}
.townIcon1.enabled {
  background: no-repeat url("../images/townIcon1.png");
}
.townIcon2 {
  background: no-repeat url("../images/townIcon2-disabled.png");
  width: 175px;
  height: 125px;
}
.townIcon2.enabled {
  background: no-repeat url("../images/townIcon2.png");
}
.townIcon3 {
  background: no-repeat url("../images/townIcon3-disabled.png");
  width: 175px;
  height: 125px;
}
.townIcon3.enabled {
  background: no-repeat url("../images/townIcon3.png");
}
.townIcon4 {
  background: no-repeat url("../images/townIcon4-disabled.png");
  width: 175px;
  height: 125px;
}
.townIcon4.enabled {
  background: no-repeat url("../images/townIcon4.png");
}
.world-town {
  height: 110px;
  width: 170px;
}
#dragon-right {
  background: url("../images/drakesprite-small.png");
  width: 90px;
  height: 80px;
  background-repeat: no-repeat;
  position: absolute;
  left: 480px;
  top: 100px;
  z-index: 2;
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
}
#dragon-left {
  background: url("../images/drakesprite-small.png");
  width: 90px;
  height: 80px;
  background-repeat: no-repeat;
  position: absolute;
  left: 480px;
  top: 100px;
  z-index: 2;
  -moz-transform: rotate(-20deg) scaleX(-1);
  -o-transform: rotate(-20deg) scaleX(-1);
  -webkit-transform: rotate(-20deg) scaleX(-1);
  transform: rotate(-20deg) scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#message {
  background: url("../images/click-message.gif");
  background-size: 100%;
  width: 200px;
  height: 100px;
  background-repeat: no-repeat;
  position: absolute;
  left: 810px;
  top: -50px;
}
