.needs-caching.drake-albino {
  background: url("../images/drakes/albino.png");
}
.needs-caching.drake-blue {
  background: url("../images/drakes/blue.png");
}
.needs-caching.drake-green {
  background: url("../images/drakes/green.png");
}
.needs-caching.drake-purple {
  background: url("../images/drakes/purple.png");
}
.needs-caching.drake-red {
  background: url("../images/drakes/red.png");
}
.needs-caching.drake-shinyBlue {
  background: url("../images/drakes/shinyBlue.png");
}
.needs-caching.drake-shinyGreen {
  background: url("../images/drakes/shinyGreen.png");
}
.needs-caching.drake-shinyPurple {
  background: url("../images/drakes/shinyPurple.png");
}
.needs-caching.drake-shinyRed {
  background: url("../images/drakes/shinyRed.png");
}
.needs-caching.bubbles.heart {
  background: url("../images/heart-bubble.png");
}
.needs-caching.bubbles.question {
  background: url("../images/bubble-question.png");
}
.needs-caching.misc.delete {
  background: url("../images/delete.png");
}
.needs-caching.npc.npc1.bookkeeper1 {
  background: url("../images/npc1_bookkeeper1.png");
}
.needs-caching.npc.npc2.alchemist1 {
  background: url("../images/npc2_alchemist1.png");
}
.needs-caching.npc.npc2.alchemist2 {
  background: url("../images/npc2_alchemist2.png");
}
#breeding-apparatus {
  position: absolute;
  top: 0;
  left: 3000px;
  width: 1300px;
  height: 900px;
  overflow: hidden;
}
#breed-top-bar {
  position: absolute;
  top: 50px;
  left: 0;
  width: 1040px;
  height: 152px;
  background: top left no-repeat url("../images/breed-top-bar.png");
}
.breed-title {
  position: relative;
  top: 58px;
  left: 16px;
  float: left;
  font-size: 2.1em;
}
.task-description {
  position: absolute;
  top: 51px;
  left: 249px;
  width: 623px;
}
.select-parents {
  position: relative;
  top: 10px;
  left: 777px;
  width: 140px;
  height: 39px;
  float: left;
  cursor: pointer;
}
#breeder {
  position: absolute;
  top: 50px;
  left: 0;
  width: 2040px;
  height: 612px;
  background: top left no-repeat url("../images/mock_02-01.png");
  background-color: #fff;
}
#breed-controls {
  position: absolute;
  top: 268px;
  left: 742px;
  width: 268px;
  height: 101px;
  background-image: url("../images/breed-controls.png");
  z-index: 2;
}
#breed-controls.automated {
  background-position: 0 0;
}
#breed-controls.controlled {
  background-position: 0 100%;
}
#meiosis-button {
  position: absolute;
  top: 23px;
  left: 94px;
  width: 59px;
  height: 59px;
  cursor: pointer;
}
#breed-button {
  position: absolute;
  top: 5px;
  left: 167px;
  width: 93px;
  height: 90px;
}
#breed-button.enabled {
  cursor: pointer;
}
#breed-button.enabled:active {
  background-image: none;
}
#target {
  position: absolute;
  top: 284px;
  left: 615px;
  width: 124px;
  height: 83px;
  font-weight: bold;
}
#target-traits {
  position: relative;
  top: 5px;
  left: 10px;
}
.parent {
  position: relative;
  display: inline-block;
}
#parent-fathers-pool-container {
  position: absolute;
  top: 115px;
  left: 20px;
  width: 490px;
  height: 205px;
  overflow: auto;
}
#parent-mothers-pool-container {
  position: absolute;
  top: 322px;
  left: 20px;
  width: 490px;
  height: 205px;
  overflow: auto;
}
#parent-pool-divider {
  position: absolute;
  top: 320px;
  left: 18px;
  width: 495px;
  height: 2px;
  background-color: #787878;
}
#father-chromosome {
  position: absolute;
  top: 130px;
  left: 800px;
  width: 125px;
  height: 265px;
}
#mother-chromosome {
  position: absolute;
  top: 385px;
  left: 800px;
  width: 125px;
  height: 265px;
}
#offspring-pool .offspring {
  display: inline-block;
  position: relative;
}
.offspring .alleleString {
  position: absolute;
  bottom: 15px;
  width: 200px;
  text-align: center;
  color: #fff;
}
#offspring-buttons {
  position: absolute;
  top: 230px;
  left: -35px;
  width: 352px;
  height: 42px;
  background: top left no-repeat url("../images/offspring-buttons.png");
}
#offspring-buttons>div {
  position: relative;
  width: 170px;
  height: 35px;
  float: left;
  cursor: pointer;
}
.offspring-buttons-use {
  top: 3px;
  left: 9px;
}
.offspring-buttons-save {
  top: 3px;
  left: 3px;
}
.removeButton {
  display: none;
}
.parent-pool .parent:hover .removeButton {
  position: absolute;
  left: 10px;
  bottom: 15px;
  display: inline;
  z-index: 2;
}
#offspring-pool {
  position: absolute;
  top: 195px;
  left: 1135px;
  width: 150px;
  text-align: right;
}
#father {
  position: absolute;
  top: 95px;
  left: 575px;
}
#father span {
  position: absolute;
  top: 113px;
  left: 40px;
  color: #fff;
}
#mother {
  position: absolute;
  top: 342px;
  left: 575px;
}
#mother span {
  position: absolute;
  top: 113px;
  left: 40px;
  color: #fff;
}
#egg-container {
  position: absolute;
  top: 251px;
  left: 200px;
}
#egg {
  background-image: url("../images/egg-sprite.png");
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.move-counter {
  position: absolute;
  top: 35px;
  left: -1px;
  width: 85px;
  height: 37px;
  background: #fff;
}
.moveCounterDigit {
  position: absolute;
  top: 1px;
  left: 0;
  width: 25px;
  height: 35px;
  background: top left no-repeat url("../images/move-counter-sprite.png");
}
#moveCounterHundreds {
  left: 3px;
}
#moveCounterTens {
  left: 30px;
}
#moveCounterOnes {
  left: 57px;
}
.match-goal-counter {
  position: absolute;
  top: 500px;
  left: 490px;
  width: 100px;
}
.chromosome-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 265px;
  height: 125px;
}
#parent-mothers-pool-container .chromosome-panel {
  top: 135px;
}
#offspring-pool .chromosome-panel {
  top: 65px;
  left: -300px;
  width: 280px;
}
#offspring-pool .male-chromosome {
  background: top left no-repeat url("../images/male-chromo-right.png");
}
#offspring-pool .female-chromosome {
  background: top left no-repeat url("../images/female-chromo-right.png");
}
.chromosome {
  position: absolute;
  top: 20px;
  width: 35px;
  height: 130px;
}
.male-chromosome {
  background: top left no-repeat url("../images/male-chromo.png");
}
.female-chromosome {
  background: top left no-repeat url("../images/female-chromo.png");
}
.chromo-1.left {
  left: 36px;
}
.chromo-1.right {
  left: 67px;
}
.chromo-2.left {
  left: 115px;
}
.chromo-2.right {
  left: 146px;
}
.chromo-X.left {
  left: 193px;
}
.chromo-X.right {
  left: 224px;
}
.chromo-Y {
  left: 224px;
}
.allele {
  background: top center no-repeat url("../images/allele-bg.png");
  width: 25px;
  height: 25px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding-top: 4px;
  cursor: default;
}
.allele.revealable span {
  cursor: pointer;
}
.dominant {
  color: #ff0;
}
.recessive {
  color: #00f;
}
.recessive3 {
  color: #fff;
}
.drake {
  position: relative;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.drake .static {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
}
.drake .idle {
  position: absolute;
  top: 0;
  left: 400px;
  width: 180px;
  height: 180px;
}
.parent-pool .drake,
.parent-pool .drake .idle,
.parent-pool .drake .static {
  width: 130px;
  height: 130px;
}
.offspring .drake,
.offspring .drake .idle,
.offspring .drake .static {
  width: 240px;
  height: 240px;
}
.drake-img {
  width: 100%;
}
.drake-idle-img {
  width: 1500%;
}
.drake-img,
.drake-idle-img {
  position: absolute;
  left: 0;
}
.drake-img.trait-absent,
.drake-idle-img.trait-absent {
  top: 100%;
}
.drake-fire {
  top: 0px;
}
.drake-reverse-horns {
  top: -100%;
}
.drake-forward-horns {
  top: -200%;
}
.drake-male {
  top: -300%;
}
.drake-female {
  top: -400%;
}
.drake-thin-spikes {
  top: -500%;
}
.drake-medium-spikes {
  top: -600%;
}
.drake-wide-spikes {
  top: -700%;
}
.drake-wings {
  top: -800%;
}
.drake-armor {
  top: -900%;
}
.drake-no-armor {
  top: -1000%;
}
.drake-male-spots {
  top: -1100%;
}
.drake-body {
  top: -1200%;
}
.drake-long-tail {
  top: -1300%;
}
.drake-kinked-tail {
  top: -1400%;
}
.drake-short-tail {
  top: -1500%;
}
.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
/* ==== Scroll down to find where to put your styles :) ==== */
/*  HTML5 ✰ Boilerplate  */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}
select,
input,
textarea,
button {
  font: 99% sans-serif;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
html {
  overflow-y: scroll;
}
a:hover,
a:active {
  outline: none;
}
ul,
ol {
  margin-left: 2em;
}
ol {
  list-style-type: decimal;
}
nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
small {
  font-size: 85%;
}
strong,
th {
  font-weight: bold;
}
td {
  vertical-align: top;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}
textarea {
  overflow: auto;
}
.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px #f00;
  -webkit-box-shadow: 0px 0px 5px #f00;
  box-shadow: 0px 0px 5px #f00;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}
::-moz-selection {
  background: #ff5e99;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #ff5e99;
  color: #fff;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}
button {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
body,
select,
input,
textarea {
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
a,
a:active,
a:visited {
  color: #607890;
}
a:hover {
  color: #036;
}
/*
    // ========================================== \    ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
@media all and (orientation:portrait) {
}
@media all and (orientation:landscape) {
}
@media screen and (max-device-width: 480px) {
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
#container {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
#container > div {
  position: relative;
  width: 1000px;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
}
#town {
  background: top left no-repeat url("../images/town01.jpg");
  margin-left: auto;
  margin-right: auto;
  width: 1010px;
  height: 660px;
}
#town1 {
  background: top left no-repeat url("../images/town01.jpg");
  margin-left: auto;
  margin-right: auto;
  width: 1010px;
  height: 660px;
}
#town2 {
  background: top left no-repeat url("../images/town02a.jpg");
  margin-left: auto;
  margin-right: auto;
  width: 1010px;
  height: 660px;
}
.logout {
  background-color: #bbb;
  color: #fff;
  position: absolute;
  width: 70px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 1px #808080;
  text-align: center;
  z-index: 2;
}
.logout div {
  position: relative;
  top: 1px;
}
.logout:hover {
  cursor: pointer;
}
.logout:active {
  box-shadow: 1px 1px 1px 1px #808080;
}
#login {
  position: absolute;
  top: 250px;
  width: 700px;
  height: 701px;
  text-align: center;
}
#login div {
  padding: 3px;
}
#choose-class {
  position: absolute;
  top: 250px;
  width: 700px;
  height: 701px;
  text-align: center;
}
#choose-class div {
  padding: 3px;
}
#username,
#password {
  width: 200px;
}
#login-error {
  color: #f00;
  font-weight: bold;
}
#loadingStatus {
  position: relative;
  top: 150px;
}
#meiosis-container {
  position: absolute;
  left: 800px;
  top: 108px;
  width: 760px;
  height: 435px;
}
.cell {
  position: absolute;
  left: 10px;
  top: -10px;
  width: 300px;
  height: 120px;
  background-color: rgba(223,223,223,0.55);
  border-top: 40px solid transparent;
  z-index: -4;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
}
.meiosis.father,
.meiosis.mother {
  position: absolute;
  top: 0;
  left: 0;
  width: 760px;
  height: 217px;
  z-index: 2;
}
.meiosis.mother {
  top: 218px;
}
.meiosis .chromosome-panel {
  position: absolute;
  top: 0;
  left: 0;
}
.meiosis .allele {
  position: relative;
  height: 22px;
  margin-left: 4px;
}
.meiosis .chromosome:not(.chromo-Y) {
  background: top left no-repeat url("../images/chromo-full.png");
}
.meiosis .chromosome.chromo-Y {
  background: top left no-repeat url("../images/chromo-short.png");
}
.meiosis .chromosome.selectable {
  cursor: pointer;
}
.meiosis .chromosome.selectable:not(.selected):not(.chromo-Y):hover {
  background: top left no-repeat url("../images/chromo-full-hover.png");
}
.meiosis .chromosome.selectable:not(.selected).chromo-Y:hover {
  background: top left no-repeat url("../images/chromo-short-hover.png");
}
.meiosis .chromosome.selected:not(.chromo-Y) {
  background: top left no-repeat url("../images/chromo-full-selected.png");
}
.meiosis .chromosome.selected.chromo-Y {
  background: top left no-repeat url("../images/chromo-short-selected.png");
}
.meiosisControlView {
  position: absolute;
  top: 0;
  left: 470px;
  width: 275px;
  height: 140px;
  border: 1px solid #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px #808080;
}
.meiosisControlView button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.meiosisControlView p,
.meiosisControlView h3 {
  padding: 5px;
}
.meiosisControlView .cost {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 190px;
  font-weight: bold;
}
.crossoverPoint {
  height: 4px;
  width: 30px;
  margin: 1px;
}
.crossoverPoint.clickable {
  cursor: pointer;
  border: 1px dotted #000;
  margin: 0px;
}
.crossoverPoint.clickable:hover {
  background-color: #ff0;
}
.crossoverPoint.selected {
  background-color: #008000;
}
.npc {
  position: absolute;
}
.npc .character {
  position: absolute;
  top: 129px;
}
.npc .bubble {
  position: absolute;
  margin-left: 20px;
}
.speech-bubble {
  position: absolute;
  left: -250px;
  bottom: -20px;
  z-index: 2;
  font-size: 1.2em;
  width: 225px;
  background-color: #fbfce1;
  padding: 23px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.speech-bubble:after {
  position: absolute;
  right: 40px;
  bottom: -30px;
  width: 0;
  content: "";
  position: absolute;
  border-width: 0 20px 30px 0;
  border-style: solid;
  border-color: transparent #fbfce1;
  display: block;
}
.speech-bubble-no-npc {
  position: absolute;
  left: 340px;
  top: 134px;
  width: 225px;
  z-index: 2;
  font-size: 1.2em;
  background-color: #fbfce1;
  padding: 23px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  border: #000 solid 2px;
}
.heart-bubble {
  position: absolute;
  left: 0;
  top: 90px;
  z-index: 0;
}
.obstacle-course {
  position: absolute;
  left: 0;
  top: 60px;
  width: 1100px;
  height: 660px;
  z-index: 0;
  background-color: #fff;
}
.obstacle-course .course {
  position: absolute;
  left: 10px;
  top: 30px;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  z-index: 1;
}
.obstacle-course .controls {
  position: absolute;
  left: 50px;
  top: 20px;
  width: 150px;
  height: 20px;
  text-align: center;
  z-index: 10;
}
.obstacle-course .background {
  position: absolute;
  left: 0;
  top: 30px;
  width: 2020px;
  height: 300px;
  background: top left no-repeat url("../images/obstacle-course/repeatbg_town01.jpg");
  z-index: 2;
}
.obstacle-course .drake-container {
  position: absolute;
  left: 0;
  top: 160px;
  z-index: 10;
  overflow: visible;
}
.obstacle-course .obstacles {
  position: absolute;
  left: 200px;
  top: 85px;
  width: 2000px;
  z-index: 3;
}
.obstacle-course .obstacles .obstacle {
  display: inline-block;
  z-index: 4;
}
.obstacle-course .obstacles .obstacle.ducks {
  background: top left no-repeat url("../images/obstacle-course/obstacle-ducks.png");
  width: 200px;
  height: 100px;
}
.obstacle-course .obstacles .obstacle.desk {
  background: top left no-repeat url("../images/obstacle-course/obstacle-desk.png");
  width: 200px;
  height: 100px;
}
.obstacle-course .obstacles .obstacle.sheep {
  background: top left no-repeat url("../images/obstacle-course/obstacle-sheep.png");
  width: 200px;
  height: 100px;
}
.obstacle-course .obstacles .obstacle.rain {
  background: top left no-repeat url("../images/obstacle-course/obstacle-rain.png");
  width: 200px;
  height: 100px;
}
.obstacle-course .obstacles .obstacle.tree {
  background: top left no-repeat url("../images/obstacle-course/tree01.png");
  width: 150px;
  height: 183px;
}
.obstacle-course .obstacles .obstacle.pond {
  background: top left no-repeat url("../images/obstacle-course/pond01.png");
  width: 200px;
  height: 84px;
}
#topBar {
  position: relative;
  left: -15px;
  width: 1034px;
  height: 59px;
  background-color: #969696;
  color: #fff;
  font-family: Verdana;
  font-size: 1.2em;
}
#topBar .logout {
  position: absolute;
  right: 55px;
  top: 15px;
  width: 75px;
  height: 25px;
}
#topBar .logout div {
  position: relative;
  top: 3px;
}
#greeting {
  position: absolute;
  left: 55px;
  top: 15px;
  font-size: 1.5em;
}
#reputation {
  position: absolute;
  left: 230px;
  top: 20px;
}
#level {
  position: absolute;
  left: 400px;
  top: 20px;
}
#sky {
  position: absolute;
  width: 1010px;
  height: 660px;
  background: url("../images/world01.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  border: 5px solid #402309;
}
#sky .logout {
  position: absolute;
  top: 10px;
  left: 10px;
}
#world {
  position: absolute;
  left: 250px;
  width: 712px;
  height: 712px;
  background-position: 0px 4px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
#clouds {
  position: absolute;
  left: 250px;
  width: 700px;
  height: 700px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.location {
  position: absolute;
  z-index: 1;
}
.location.enabled {
  cursor: pointer;
}
.huts {
  height: 90px;
  width: 120px;
}
.houses {
  height: 70px;
  width: 150px;
}
.townIcon1 {
  background: no-repeat url("../images/townIcon1-disabled.png");
  width: 175px;
  height: 125px;
}
.townIcon1.enabled {
  background: no-repeat url("../images/townIcon1.png");
}
.townIcon2 {
  background: no-repeat url("../images/townIcon2-disabled.png");
  width: 175px;
  height: 125px;
}
.townIcon2.enabled {
  background: no-repeat url("../images/townIcon2.png");
}
.townIcon3 {
  background: no-repeat url("../images/townIcon3-disabled.png");
  width: 175px;
  height: 125px;
}
.townIcon3.enabled {
  background: no-repeat url("../images/townIcon3.png");
}
.townIcon4 {
  background: no-repeat url("../images/townIcon4-disabled.png");
  width: 175px;
  height: 125px;
}
.townIcon4.enabled {
  background: no-repeat url("../images/townIcon4.png");
}
.world-town {
  height: 110px;
  width: 170px;
}
#dragon-right {
  background: url("../images/drakesprite-small.png");
  width: 90px;
  height: 80px;
  background-repeat: no-repeat;
  position: absolute;
  left: 480px;
  top: 100px;
  z-index: 2;
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
}
#dragon-left {
  background: url("../images/drakesprite-small.png");
  width: 90px;
  height: 80px;
  background-repeat: no-repeat;
  position: absolute;
  left: 480px;
  top: 100px;
  z-index: 2;
  -moz-transform: rotate(-20deg) scaleX(-1);
  -o-transform: rotate(-20deg) scaleX(-1);
  -webkit-transform: rotate(-20deg) scaleX(-1);
  transform: rotate(-20deg) scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#message {
  background: url("../images/click-message.gif");
  background-size: 100%;
  width: 200px;
  height: 100px;
  background-repeat: no-repeat;
  position: absolute;
  left: 810px;
  top: -50px;
}
