<div class="alleles-container">
{{#each allele in visibleAlleles }}
  {{#view GG.AlleleView valueBinding="allele" }}
    {{displayValue}}
  {{/view}}
{{/each}}
{{#each allele in hiddenAlleles }}
  {{#view GG.AlleleView valueBinding="allele" sideBinding="parentView.side" drakeBinding="parentView.content" hidden="true"}}
    {{displayValue}}
  {{/view}}
{{/each}}
</div>
