<div class="chromosome-panel">
  <div class="chromosome chromo-1"></div>
  <div class="chromosome chromo-1 right"></div>
  <div class="chromosome chromo-2"></div>
  <div class="chromosome chromo-2 right"></div>
  <div class="chromosome chromo-X"></div>
  <div class="chromosome chromo-Y right"></div>
</div>