<div class="alleles-container">
{{#each allele in view.visibleAlleles }}
  {{#view GG.AlleleView valueBinding="allele" }}
    {{view.displayValue}}
  {{/view}}
{{/each}}
{{#each allele in view.hiddenAlleles }}
  {{#view GG.AlleleView valueBinding="allele" sideBinding="parentView.side" drakeBinding="parentView.content" hidden="true"}}
    {{view.displayValue}}
  {{/view}}
{{/each}}
</div>
