<div class="alleles-container">
{{#each allele in view.alleles }}
  {{#if allele.visible}}
    {{#view GG.AlleleView valueBinding="allele.allele" }}
      {{view.displayValue}}
    {{/view}}
  {{else}}
    {{#view GG.AlleleView valueBinding="allele.allele" sideBinding="view.side" drakeBinding="view.content" hidden="true"}}
      {{view.displayValue}}
    {{/view}}
  {{/if}}
{{/each}}
</div>
