<div class="alleles-container">
{{#each visibleAlleles}}
  {{#view GG.AlleleView valueBinding="this"}}
    {{displayValue}}
  {{/view}}
{{/each}}
{{#each hiddenAlleles}}
  {{#view GG.AlleleView valueBinding="this" hidden="true"}}
    {{displayValue}}
  {{/view}}
{{/each}}
</div>
