<img tooltip="Replay: wings" src="../images/heart-bubble.png" class="heart-bubble">
<div class="heart-bubble-empty-wrapper">
  <img class="heart-bubble-empty" src="../images/heart-bubble-empty.png">
</div>