<div class="parent-pool">
  {{#each content}}
    <a href="#" {{action "drakeSelected"}}>
      {{view GG.DrakeView contentBinding="this" width="100"}}
    </a>
  {{/each}}
</div>
{{view expanderButton}}

{{view GG.ChromosomePanelView}}
