<div class="parent-pool">
  {{#each content}}
    <a href="#" {{action "drakeSelected"}}>
      {{view GG.DrakeView contentBinding="this" width="100"}}
    </a>
  {{/each}}
</div>
{{view expanderButton}}
{{#with controller}}
  {{view GG.ChromosomePanelView controllerBinding="this"}}
{{/with}}
