<div class="parent-pool">
  {{#each view.content}}
    <div class="parent">
      {{view GG.DrakeView contentBinding="this" isInParentPool="true" class="clickable"}}
      {{#if bred}}
        <a class="removeButton" href="#" {{action "drakeRemoved" this}}>
          <img src="../images/delete.png" />
        </a>
      {{/if}}
    </div>
  {{/each}}
</div>
