<div class="parent-pool">
  {{#each view.content}}
    <div class="parent">
      <a href="#" {{action "drakeSelected" this}}>
        {{view GG.DrakeView contentBinding="this"}}
      </a>
      {{#if bred}}
        <a class="removeButton" href="#" {{action "drakeRemoved" this}}>
          <img src="../images/delete.png" />
        </a>
      {{/if}}
    </div>
  {{/each}}
</div>
