<div id="admin-password" class="admin">
  <div>
    Enter the password to unlock {{GG.townsController.townToBeUnlocked.name}}.
  </div>
  <div>
    Password: {{view Ember.TextField type="password" valueBinding="GG.manualEventController.password" size="30"}}
  </div>
  <button {{action "closeAdminPanel" target="GG.statemanager"}}>Cancel</button>
  <button {{action "unlockTown" target="GG.statemanager"}}>Submit</button>
</div>