<div id="sky">
  <div id="clouds">
  </div>
  <div id="world">
    {{#each view.content}}
      {{view GG.WorldTownView contentBinding="this"}}
    {{/each}}
  </div>
<!--  <div id="dragon-right" class="dragon"> -->
  </div>
  <div id="message">
  </div>
</div>
