<div id="topBar">
  {{#with GG.userController.user}}
    <div id="greeting">
      Hi {{first}}!
    </div>
    <div id="reputation">
      Reputation: {{reputation}}
    </div>
  {{/with}}
  {{view GG.LogoutButton}}
</div>
<div id="sky">
  <div id="clouds">
  </div>
  <div id="world">
    {{#each view.content}}
      {{view GG.WorldTownView contentBinding="this"}}
    {{/each}}
  </div>
<!--  <div id="dragon-right" class="dragon"> -->
  <!--  </div>  -->
  <div id="message">
  </div>
</div>
