
#breeding-apparatus {
  position: absolute;
  left: 3000px;
  top: 0px;
  overflow: hidden;
  width: 1300px;
  height: 900px;
}

#breeder {
  position: absolute;
  background: top left no-repeat url('../images/mock_02-01.png');
  background-color: white;
  left: 0px;
  top: 50px;
  width: 2040px;
  height: 552px;
}

#breed-controls {
  position: absolute;
  background-image: url('../images/breed-controls.png');
  top: 268px;
  left: 742px;
  width: 268px;
  height: 101px;
}

#breed-button {
  position: absolute;
  top: 5px;
  left: 167px;
  width: 93px;
  height: 90px;
}

#breed-button.enabled {
  cursor: pointer;
}

#breed-button.enabled:active {
  background-image: none;
}

.parent {
  position: relative;
  display: inline-block;
}

#parent-fathers-pool-container {
  position: absolute;
  width: 800px;
  height: 150px;
  top: 120px;
  left: 50px;
}

#parent-mothers-pool-container {
  position: absolute;
  top: 250px;
  width: 800px;
  height: 150px;
  left: 50px;
}

#offspring-pool .offspring {
  display: inline-block;
  position: relative;
}

.offspring .alleleString {
  text-align: center;
  width: 200px;
  bottom: 15px;
  position: absolute;
  color: white;
}

.removeButton {
  display: none;
}

.parent-pool .parent:hover .removeButton {
  display: inline;
  position: absolute;
  left: 10px;
  bottom: 15px;
  z-index: 2;
}

#offspring-pool {
  position: absolute;
  width: 150px;
  top: 195px;
  left: 900px;
  text-align: right;
}

#father {
  position: absolute;
  left: 575px;
  top: 109px;
}

#father span {
  position: absolute;
  left: 40px;
  top: 113px;
  color: white;
}

#mother {
  position: absolute;
  left: 575px;
  top: 356px;
}

#mother span {
  position: absolute;
  left: 40px;
  top: 113px;
  color: white;
}

#egg-container {
  position: absolute;
  left: 200px;
  top: 251px;
}

#egg {
  background-image: url('../images/egg-sprite.png');
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: 0px 0px
}

.move-counter {
  position: absolute;
  top: 35px;
  left: -1px;
  width: 85px;
  height: 37px;
  background: white;
}

.moveCounterDigit {
  position: absolute;
  width: 25px;
  height: 35px;
  top: 1px;
  left: 0px;
  background: top left no-repeat url('../images/move-counter-sprite.png');
}

#moveCounterHundreds {
  left: 3px;
}

#moveCounterTens {
  left: 30px;
}

#moveCounterOnes {
  left: 57px;
}

.match-goal-counter {
  position: absolute;
  left: 490px;
  top: 500px;
  width: 100px;
}