.chromosome-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 265px;
  height: 125px;
}
#parent-mothers-pool-container .chromosome-panel {
  top: 135px;
}
#offspring-pool .chromosome-panel {
  top: 65px;
  left: -300px;
  width: 280px;
}

.chromosome {
  position: absolute;
  width: 35px;
  height: 130px;
}

#offspring-pool .male-chromosome {
  background: top left no-repeat url('../images/male-chromo-right.png');
}
#offspring-pool .female-chromosome {
  background: top left no-repeat url('../images/female-chromo-right.png');
}
.male-chromosome {
  background: top left no-repeat url('../images/male-chromo.png');
}
.female-chromosome {
  background: top left no-repeat url('../images/female-chromo.png');
}
.chromosome {
  top: 20px;
}
.chromo-1.left {
  left: 36px;
}
.chromo-1.right {
  left: 67px;
}
.chromo-2.left {
  left: 115px;
}
.chromo-2.right {
  left: 146px;
}
.chromo-X.left {
  left: 193px;
}
.chromo-X.right {
  left: 224px;
}
.chromo-Y {
  left: 224px;
}

.allele {
  background: top center no-repeat url('../images/allele-bg.png');
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 4px;
  cursor: default;
}

.allele.revealable {
  cursor: pointer;
}

.dominant {
  color: yellow;
}

.recessive {
  color: blue;
}

