.chromosome-panel {
  position: absolute;
  top: 35px;
  left: 145px;
  width: 100px;
  height: 420px;
}
#parent-mothers-pool-container .chromosome-panel {
  left: 42px;
}

.chromosome {
  position: absolute;
  width: 50px;
  height: 130px;
}
.chromosome.right {
  left: 57px;
}
.chromo-1 {
  background: top left no-repeat url('../images/chromo-1.png');
  top: 0px;
}
.chromo-2 {
  background: top left no-repeat url('../images/chromo-2.png');
  top: 150px;
}
.chromo-X {
  background: top left no-repeat url('../images/chromo-X.png');
  top: 280px;
}
.chromo-Y {
  background: top left no-repeat url('../images/chromo-Y.png');
  top: 280px;
}

.allele {
  background: top center no-repeat url('../images/allele-bg.png');
  width: 25px;
  height: 25px;
  margin: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 4px;
  cursor: default;
}

.allele.revealable {
  cursor: pointer;
}

.hidden {
  display: none;
}
