.chromosome-panel {
  position: absolute;
  top: 15px;
  left: 740px;
  width: 265px;
  height: 125px;
}
#parent-mothers-pool-container .chromosome-panel {
  top: 135px;
}
#offspring-pool .chromosome-panel {
  top: 65px;
  left: 300px;
}

.chromosome {
  position: absolute;
  width: 50px;
  height: 130px;
}
.male-chromosome {
  background: top left no-repeat url('../images/male-chromo.png');
}
.female-chromosome {
  background: top left no-repeat url('../images/female-chromo.png');
}
.chromosome {
  top: 20px;
}
.chromosome.right {
  padding-left: 31px;
}
.chromo-1 {
  left: 36px;
}
.chromo-2 {
  left: 115px;
}
.chromo-X {
  left: 193px;
}
.chromo-Y {
  left: 193px;
  padding-left: 30px;
}

.allele {
  background: top center no-repeat url('../images/allele-bg.png');
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 4px;
  cursor: default;
}

.allele.revealable {
  cursor: pointer;
}

.cell {
  background-color: rgba(34, 224, 34, 0.55);
  border-top: 40px solid transparent;
  z-index: 1000;
  height: 450px;
  width: 250px;
  top: -20px;
  left: -50px;
  position: absolute;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  -khtml-border-radius: 90px;
  border-radius: 90px;
}
