.drake {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 180px;
	height: 180px;
}

.parent-pool .drake {
	width: 130px;
	height: 130px;
}

.offspring .drake {
	width: 240px;
	height: 240px;
}

.drake-img {
	width: 1500%;
	position: absolute;
	left: 0px;
}

.drake-img.trait-absent {
	top: 100%;
}

.drake-fire {
	top: 0px;
}

.drake-horns {
	top: -100%;
}

.drake-male {
	top: -200%;
}

.drake-female {
	top: -300%;
}

.drake-thin-spikes {
	top: -400%;
}

.drake-medium-spikes {
	top: -500%;
}

.drake-wide-spikes {
	top: -600%
}

.drake-wings {
	top: -700%
}

.drake-long-forelimbs {
	top: -800%
}

.drake-short-forelimbs {
	top: -900%
}

.drake-body {
	top: -1000%
}

.drake-long-tail {
	top: -1100%
}

.drake-kinked-tail {
	top: -1200%
}

.drake-short-tail {
	top: -1300%
}

.flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

