#container {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

#town {
  background: top left no-repeat url('../images/town01.jpg');
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 750px;
}

#container > div {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 750px;
}
