#background {
  background-image: url('../images/background.png');
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 750px;
}

#container {
  position: absolute;
}

#breeder {
  position: absolute;
  background-image: url('../images/breeder2.png');
  left: 227px;
  top: 65px;
  width: 548px;
  height: 532px;
}

#breed-button {
  position: absolute;
  top: 74px;
  left: 247px;
}

#parent-pool {
  position: absolute;
  width: 100px;
  top: 145px;
}

#parent-fathers-pool {
  position: absolute;
  width: 100px;
  top: 145px;
  left: 80px;
}

#parent-mothers-pool {
  position: absolute;
  width: 100px;
  top: 145px;
  left: 800px;
}

#offspring-pool {
  position: absolute;
  width: 800px;
  top: 560px;
  right: -600px;
  text-align: right;
}

#father {
  position: absolute;
  left: 51px;
  top: 38px;
}

#father span {
  position: absolute;
  left: 40px;
  top: 113px;
  color: white;
}

#mother {
  position: absolute;
  left: 345px;
  top: 38px;
}

#mother span {
  position: absolute;
  left: 40px;
  top: 113px;
  color: white;
}

#child {
  position: absolute;
  left: 192px;
  top: 251px;
}

