#background {
  background-image: url('../images/background.png');
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 750px;
}

#container {
  position: absolute;
}

#breeder {
  position: absolute;
  background-image: url('../images/breeder2.png');
  left: 227px;
  top: 65px;
  width: 548px;
  height: 532px;
}

#breed-button {
  position: absolute;
  top: 43px;
  left: 228px;
  width: 93px;
  height: 90px;
}

#breed-button.enabled {
  background-image: url('../images/breed-button.png');
}

#breed-button.enabled:active {
  background-image: none;
}

#parent-fathers-pool-container {
  background: top left no-repeat url('../images/parent-pane-left.png');
  position: absolute;
  width: 277px;
  height: 550px;
  top: 75px;
  left: 135px;
}

#parent-fathers-pool-container .expander {
  background: top left no-repeat url('../images/expander-button.png');
  background-position: 0px -15px;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0px;
  top: 242px;
}

#parent-fathers-pool-container .parent-pool {
  position: absolute;
  width: 100px;
  top: 45px;
  left: 3px;
}

#parent-mothers-pool-container {
  background: top right no-repeat url('../images/parent-pane-right.png');
  position: absolute;
  top: 75px;
  left: 595px;
  width: 277px;
  height: 550px;
}

#parent-mothers-pool-container .expander {
  background: top left no-repeat url('../images/expander-button.png');
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0px;
  top: 242px;
}

#parent-mothers-pool-container .parent-pool {
  position: absolute;
  width: 100px;
  top: 45px;
  left: 165px;
}

#offspring-pool {
  position: absolute;
  width: 800px;
  top: 560px;
  right: -600px;
  text-align: right;
}

#father {
  position: absolute;
  left: 51px;
  top: 38px;
}

#father span {
  position: absolute;
  left: 40px;
  top: 113px;
  color: white;
}

#mother {
  position: absolute;
  left: 345px;
  top: 38px;
}

#mother span {
  position: absolute;
  left: 40px;
  top: 113px;
  color: white;
}

#child {
  position: absolute;
  left: 192px;
  top: 251px;
}

