.cell {
  background-color: rgba(34, 224, 34, 0.55);
  border-top: 40px solid transparent;
  z-index: -4;
  height: 150px;
  width: 350px;
  top: -20px;
  left: -50px;
  position: absolute;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  -khtml-border-radius: 90px;
  border-radius: 90px;
}

.chromos {
  z-index: 1000;
  height: 150px;
  width: 350px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.meiosis.father {
  position: absolute;
  top: 0px;
  width: 1000px;
}

.meiosis.mother {
  position: absolute;
  top: 300px;
  width: 1000px;
}

.meiosis .chromo-1 {
  background: top left no-repeat url('../images/chromo-full.png');
}

.meiosis .chromo-2 {
  background: top left no-repeat url('../images/chromo-full.png');
}

.meiosis .chromo-X {
  background: top left no-repeat url('../images/chromo-full.png');
}

.meiosis .chromo-Y {
  background: top left no-repeat url('../images/chromo-short.png');
}
