#meiosis-container {
  position: absolute;
  left: 800px;
  top: 108px;
  width: 760px;
  height: 435px;
}

.cell {
  background-color: rgba(223, 223, 223, 0.55);
  border-top: 40px solid transparent;
  z-index: -4;
  height: 120px;
  width: 300px;
  top: -10px;
  left: 10px;
  position: absolute;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  -khtml-border-radius: 90px;
  border-radius: 90px;
}

.meiosis.father {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 760px;
  height: 217px;
  z-index: 2;
}

.meiosis.mother {
  position: absolute;
  top: 218px;
  left: 0px;
  width: 760px;
  height: 217px;
  z-index: 2;
}

.meiosis .chromosome-panel {
  position: absolute;
  left: 0px;
  top: 0px;
}

.chromosome.selectable:hover {
  border: 1px solid yellow;
}

.chromosome.selected {
  border: 1px solid blue;
}

.meiosis .allele {
  margin-left: 4px;
}

.meiosis .chromo-1 {
  background: top left no-repeat url('../images/chromo-full.png');
}

.meiosis .chromo-2 {
  background: top left no-repeat url('../images/chromo-full.png');
}

.meiosis .chromo-X {
  background: top left no-repeat url('../images/chromo-full.png');
}

.meiosis .chromo-Y {
  background: top left no-repeat url('../images/chromo-short.png');
}

.chromosome.cell0 {
}

.chromosome.cell1 {
}

.chromosome.cell2 {
}

.chromosome.cell3 {
}

