.npc {
  position: absolute;
}

.cousin-it {
  top: 497px;
  left: 650px;
}

.cousin-it .bubble {
  position: absolute;
  margin-left: 20px;
}

.cousin-it .character {
  position: absolute;
  top: 129px;
}
