.obstacle-course {
  position: absolute;
  width: 1100px;
  height: 660px;
  left: 0px;
  top: 60px;
  z-index: 0;
  background-color: white;
}
.obstacle-course .course {
  position: absolute;
  width: 630px; /*500px;*/
  height: 600px; /*100px;*/
  left: 60px; /*300px;*/
  top: 30px; /*250px;*/
  overflow: hidden;
  z-index: 1;
}

.obstacle-course .controls {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 150px;
  height: 20px;
  text-align: center;
  z-index: 10;
}

.obstacle-course .background {
  position: absolute;
  left: 0px;
  top: 30px;
  width: 918px;
  height: 300px;
  background: top left no-repeat url('../images/obstacle-course/repeatbg_town01.jpg');
  z-index: 2;
}

.obstacle-course .drake-container {
  z-index: 10;
  position: absolute;
  top: 160px;
  left: 0px;
  overflow: visible;
}

.obstacle-course .obstacles {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 2000px;
  z-index: 3;
}

.obstacle-course .obstacles .obstacle {
  display: inline-block;
  width: 200px;
  height: 100px;
  z-index: 4;
}

.obstacle.ducks {
  background: top left no-repeat url('../images/obstacle-course/obstacle-ducks.png');
}

.obstacle.desk {
  background: top left no-repeat url('../images/obstacle-course/obstacle-desk.png');
}

.obstacle.sheep {
  background: top left no-repeat url('../images/obstacle-course/obstacle-sheep.png');
}

.obstacle.rain {
  background: top left no-repeat url('../images/obstacle-course/obstacle-rain.png');
}
