/* @license
 * MyFonts Webfont Build ID 2493616, 2013-03-02T09:45:24-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Century Gothic Std Regular by Monotype Imaging
 * URL: http://www.myfonts.com/fonts/mti/century-gothic/std-regular/
 * Copyright: Copyright The Monotype Corporation. All rights reserved.
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2493616
 *
 * © 2013 MyFonts Inc
*/

@import url("//hello.myfonts.net/count/260cb0");
@import url("//hello.myfonts.net/count/26134e");

@font-face
  font-family: 'CenturyGothicStd'
  src: url('/fonts/260CB0_0_0.eot')
  src: url('/fonts/260CB0_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/260CB0_0_0.woff') format('woff'),url('/fonts/260CB0_0_0.ttf') format('truetype')

@font-face
  font-family: 'CenturyGothicStd'
  src: url('/fonts/26134E_0_0.eot')
  src: url('/fonts/26134E_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/26134E_0_0.woff') format('woff'),url('/fonts/26134E_0_0.ttf') format('truetype')
  font-weight: bold

html body div
    font-family: 'CenturyGothicStd','sans-serif'
