@import 'app/style/mixins/position'
@import 'app/style/mixins/border'
light-text-color = #BBB
dark-text-color  = #333

#breeding-apparatus
  absolute: top left 3000px width 960px height 900px
  overflow: hidden

#breeding-background
  absolute: top 120px left width 1300px height 900px
  background: top left no-repeat url('../images/background_meiosis.jpg')
  background-color: black
  overflow: hidden
  &.obstacle-course
    background: top left no-repeat url('../images/background_meiosis_obstacle.jpg')

#breed-top-bar
  color: #39230b
  font-weight: bold
  font-size: 1.1em
  absolute: top 0px left width 1040px height 152px

#task-description
  absolute: top 33px left 34px width 610px

#task-reputation-available
  absolute: top 33px left 666px width 140px
  text-align: center

#task-reputation-best
  absolute: top 33px left 826px width 107px
  text-align: center

#progress-bar
  absolute: top 63px left 25px height 35px
  overflow: hidden
  .bg
    absolute: top 0px left 11px width 894px height 38px
    background: top left no-repeat url('../images/breeding-progress-overlay.png')
    &.obstacle-course
      absolute: top 0px left 11px
      background: top left no-repeat url('../images/obstacle-progress-overlay.png')
  &.selecting
    width: 128px
  &.breeding
    width: 658px
  &.results
    width: 784px
  &.obstacle-results
    width: 906px

#progress-bar-obstacle
  absolute: top 65px left 25px height 38px width 894px
  background: top left no-repeat url('../images/obstacle-progress-bg.png')
  overflow: hidden

#breeder
  absolute: top 110px left width 2040px height 423px
  background: -81px -134px no-repeat url('../images/breeding-panels-left.png')

#chromosome-labels
  absolute: top 22px left 716px width 400px height 423px
  background: top left no-repeat url('../images/brackets.png')
  &.father
    height: 100px
  &.mother
    top: 122px
    background-position 0 -100px
  &.none
    absolute: width 0 height 0

#breed-controls
  absolute: top 165px left 635px width 283px height 101px
  background-repeat: no-repeat
  &.game
    background-image: url('../images/breed-controls.png')
  &.baseline
    background-image: url('../images/breed-controls-baseline.png')
  z-index: 2
  &.control-enabled
    &.automated
      background-position: 0 0
    &.controlled
      background-position: 0 -101px
  background-position: 0 -202px

#meiosis-button
  absolute: top 22px left 94px width 68px height 37px
  &.control-enabled
    cursor: pointer

#meiosis-speed-slider-parent
  absolute: top 0px left 170px width 6px height 100px
  .slow-icon
    absolute: bottom -6px left -5px width 16px height 16px
  .fast-icon
    absolute: top -6px left -5px width 16px height 16px

#meiosis-speed-slider
  absolute: top 15px left 0px height 70px width 6px
  background-color: #3b84a2
  background-image: none
  .ui-slider-handle
    absolute: width 10px height 10px left -3px
    margin-bottom: -5px
    background-color: #3a3a3a
    background-image: none

#breed-button
  absolute: top 6px left 185px width 86px height 89px
  background: top left no-repeat url('../images/breed-button.png')
  background-position: 0 -262px
  &.enabled
    background-position: 0 3px
    cursor: pointer
    &:active
      background-position: 0 -175px
      cursor: pointer
  &.no-more-breeds
    background-position: 0 -86px

#target
  absolute: top 170px left 508px width 124px height 83px
  color: light-text-color

#target-traits
  relative: top 5px left 10px

#target-tutorial-target
  absolute: top 27px left 0px width 1px height 1px

.parent
  position: relative
  display: inline-block

parent-pool-container(toppx)
  absolute: top toppx left 20px width 420px height 182px
  overflow: auto

#parent-fathers-pool-container
  parent-pool-container(23px)

#parent-mothers-pool-container
  parent-pool-container(219px)

.parent-pool
  relative: top -23px

#parents-tutorial-target
  absolute: top 181px left 200px width 1px height 1px

chromosome(toppx)
  absolute: top toppx left 680px width 275px height 130px

#father-chromosome
  chromosome(31px)

#mother-chromosome
  chromosome(285px)

#offspring-panel .offspring
  relative: left width 464px height 386px
  display: inline-block

#offspring-panel
  relative: width 464px height 386px left 400px
  background: top left no-repeat url('../images/offspring-panel.png')

.offspring .drake
  left: 94px

#offspring-buttons
  absolute: top 297px left 29px width 390px height 42px
  &>div
    relative: top 3px width 129px height 40px
    float: left
    cursor: pointer

.offspring-buttons-back
  background: top left no-repeat url('../images/button-back.png')
  &:active
    background-position: 0 97%;

.offspring-buttons-use
  background: top left no-repeat url('../images/finish-button.png')
  &:active
    background-position: 0 97%;

.offspring-buttons-save
  background: top left no-repeat url('../images/use-as-parent-button.png')
  &:active
    background-position: 0 99%;
  &.disabled
    background-position: 0 49%;

#parent-available-message
  absolute left 96px bottom 140px width 275px
  text-align: left
  color: dark-text-color

.removeButton
  display: none

.parent-pool .parent:hover .removeButton
  absolute: left 10px bottom 15px
  display: inline
  z-index: 2

#offspring-pool
  absolute: top 10px left 1030px width 150px
  text-align: right

#father
  absolute: top -19px left 490px height 180px
  span
    absolute: top 113px left 40px
    color: white

#mother
  absolute: top 239px left 490px height 180px
  span
    absolute: top 113px left 40px
    color: white

#egg-container
  absolute: top 251px left 200px

#egg
  background-image: url('../images/egg-sprite.png')
  width: 150px
  height: 150px
  background-repeat: no-repeat
  background-position: 0px 0px

.move-counter
  absolute: top 23px left 8px width 75px height 28px

.moveCounterDigit
  absolute: top 1px left width 19px height 26px
  background: top left no-repeat url('../images/move-counter-sprite.png')

#moveCounterHundreds
  left: 2px

#moveCounterTens
  left: 28px

#moveCounterOnes
  left: 54px

.match-goal-counter
  absolute: top 500px left 490px width 100px

#completion-dialog
  display: none
  border-radius 5px
  absolute: width 340px height 285px left 305px top 167px // 560px height available, 950px width
  background-color: #4e8da6
  z-index: 6000

#completion-dialog-content
  background-color: white
  absolute: bottom 5px right 5px left 5px top 5px
  padding: 14px
  z-index: 6001
  text-align: center
  .drake
    absolute: top -36px left 14px
  .completion-text
    absolute: top 44px left 194px right 14px
    text-align: center
  .completion-rep
    absolute: top 150px left 14px right 14px
    text-align: center
    .completion-rep-item
      width: 100%
      height: 1.1em
      .action
        text-align: left
        absolute: left 0px
      .points
        absolute: right 0px
        &.spent
          color: red
      &.total
        border-top: 1px solid lightgray
  .completion-buttons
    absolute: top 240px left 14px right 14px
    text-align: center
