@import 'app/style/mixins/position'

.chromosome-panel
  absolute: top left width 265px height 125px

#parent-mothers-pool-container .chromosome-panel
  top: 135px

#offspring-pool
  .chromosome-panel
    top: 65px
    left: -300px
    width: 280px
  .male-chromosome
    background: top left no-repeat url('../images/male-chromo-right.png')
  .female-chromosome
    background: top left no-repeat url('../images/female-chromo-right.png')

.chromosome
  absolute: top 20px width 35px height 130px

.male-chromosome
  background: top left no-repeat url('../images/male-chromo.png')

.female-chromosome
  background: top left no-repeat url('../images/female-chromo.png')

.chromo-1
  &.left
    left: 36px
  &.right
    left: 67px

.chromo-2
  &.left
    left: 115px
  &.right
    left: 146px

.chromo-X
  &.left
    left: 193px
  &.right
    left: 224px

.chromo-Y
  left: 224px

.allele
  background: top center no-repeat url('../images/allele-bg.png')
  width: 25px
  height: 25px
  text-align: center
  color: white
  font-weight: bold
  padding-top: 4px
  cursor: default
  &.revealable span
    cursor: pointer

.dominant
  color: yellow

.recessive
  color: blue

.recessive3
  color: white

