@import 'app/style/mixins/position'

.chromosome-panel
  absolute: top left width 265px height 125px

#parent-mothers-pool-container .chromosome-panel
  top: 135px

#offspring-pool
  .chromosome-panel
    top: 30px
    left: -350px
    width: 280px

.chromosome
  absolute: top 10px width 35px height 130px

.chromo-1
  &.left
    left: 36px
  &.right
    left: 70px

.chromo-2
  &.left
    left: 115px
  &.right
    left: 149px

.chromo-X
  &.left
    left: 193px
  &.right
    left: 227px

.chromo-Y
  left: 227px

.chromosome
  &:not(.chromo-Y)
    background: top left no-repeat url('../images/chromosome-long.png')
    height: 113px
  &.chromo-Y
    background: top left no-repeat url('../images/chromosome-short.png')
    height: 83px

  &.selectable
    cursor: pointer
    &:not(.selected)
      &:not(.chromo-Y):hover
        background-position: 0 -111px
      &.chromo-Y:hover
        background-position: 0 -83px

  &.selected
    &:not(.chromo-Y)
      background-position: 0 -222px
    &.chromo-Y
      background-position: 0 -168px

.alleles-container
  relative: left 4px top 6px
.meiosis .alleles-container
  relative: left 0

.allele
  background: top center no-repeat url('../images/allele-bg.png')
  absolute: width 25px height 22px left 0px
  text-align: center
  color: white
  font-weight: bold
  padding-top: 4px
  cursor: default
  &.revealable span
    cursor: pointer
  &.tail
  &.horns
  &.dilute
    top: 0px
  &.metallic
  &.color
  &.firebreathing
    top: 25px
  &.wings
  &.green
    top: 50px
  &.armor
  &.spikes
    top: 75px

.dominant
  color: yellow

.recessive
  color: blue

.recessive3
  color: white

