.drake {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}

.drake, .drake .idle, .drake .static {
	width: 180px;
	height: 180px;
}

.drake .static {
  position: absolute;
  top: 0px;
  left: 0px;
}

.drake .idle {
  position: absolute;
  top: 0px;
  left: 400px;
}

.parent-pool .drake, .parent-pool .drake .idle, .parent-pool .drake .static {
	width: 130px;
	height: 130px;
}

.offspring .drake, .offspring .drake .idle, .offspring .drake .static {
	width: 240px;
	height: 240px;
}

.drake-img {
	width: 100%;
}

.drake-idle-img {
	width: 1500%;
}

.drake-img, .drake-idle-img {
	position: absolute;
	left: 0px;
}

.drake-img.trait-absent, .drake-idle-img.trait-absent {
	top: 100%;
}

.drake-fire {
	top: 0px;
}

.drake-reverse-horns {
	top: -100%;
}

.drake-forward-horns {
	top: -200%;
}

.drake-male {
	top: -300%;
}

.drake-female {
	top: -400%;
}

.drake-thin-spikes {
	top: -500%;
}

.drake-medium-spikes {
	top: -600%;
}

.drake-wide-spikes {
	top: -700%
}

.drake-wings {
	top: -800%
}

.drake-armor {
	top: -900%
}

.drake-no-armor {
	top: -1000%
}

.drake-male-spots {
	top: -1100%
}

.drake-body {
	top: -1200%
}

.drake-long-tail {
	top: -1300%
}

.drake-kinked-tail {
	top: -1400%
}

.drake-short-tail {
	top: -1500%
}

.flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
