@import 'app/style/mixins/position'

.drake
  relative: top left width 180px height 180px
  overflow: hidden
  .static
    absolute: top left width 180px height 180px
  .idle
    absolute: top left width 180px height 180px

.parent-pool .drake, .parent-pool .drake .idle, .parent-pool .drake .static
  width: 130px
  height: 130px

.parent-pool .drake
  background-repeat: no-repeat
  background-position: 16px 31px
  &:hover
    background-image: url('../images/glow.png')
  &.selected
    background-image: url('../images/glow-deep.png')

.offspring .drake, .offspring .drake .idle, .offspring .drake .static
  width: 240px
  height: 240px

.drake-img
  width: 100%

.drake-idle-img
  width: 1500%

.drake-img, .drake-idle-img
  absolute: left

.drake-fire
  top: 0px

.drake-reverse-horns
  top: -100%

.drake-forward-horns
  top: -200%

.drake-male
  top: -300%

.drake-female
  top: -400%

.drake-wings
  top: -500%

.drake-armor
  top: -600%

.drake-wide-spikes
  top: -700%

.drake-medium-spikes
  top: -800%

.drake-shiny
  top: -900%

.drake-body-long-tail
  top: -1000%

.drake-body-kinked-tail
  top: -1100%

.drake-body-short-tail
  top: -1200%

.flip
  -moz-transform: scaleX(-1)
  -o-transform: scaleX(-1)
  -webkit-transform: scaleX(-1)
  transform: scaleX(-1)
  filter: FlipH
  -ms-filter: "FlipH"

