@import 'app/style/mixins/position'

#container
  absolute: width 100%
  overflow: hidden
  background-color: black
  > div
    relative: width 1000px height 750px
    margin-left: auto
    margin-right: auto

#town
  margin-left: auto
  margin-right: auto
  width: 960px
  height: 560px

.castle
  background: top left no-repeat url('../images/town01.jpg')

.village
  background: top left no-repeat url('../images/town02.jpg')

.huts
  background: top left no-repeat url('../images/town03.jpg')

.village_blue
  background: top left no-repeat url('../images/town04.jpg')

.castle_purple
  background: top left no-repeat url('../images/town05.jpg')

.logout
.task-list
  background-color: #bbbbbb
  color: white
  absolute: width 70px height 20px
  border-radius: 10px
  box-shadow: 2px 2px 1px 1px gray
  text-align: center
  z-index: 2
  div
    relative: top 1px
  &:hover
    cursor: pointer
  &:active
    box-shadow: 1px 1px 1px 1px gray

#modal-backdrop-fade
#modal-backdrop-clear
  display: none
  absolute: top 0px left 0px right 0px bottom 0px
  z-index: 5000

#modal-backdrop-fade
  opacity: 0.5
  background-color: black

.connection-warning
  display: none
  absolute: left 50% top 25px width 400px height 100px
  z-index: 100
  background-color: red
  border: darkred 6px solid
  margin-left: -206px
  padding: 6px
  color: black
  text-align: center
  font-size: 1.3em

  &.regained
    background-color: lightgreen
    border-color: green

  h1
    padding: 10px
