@import 'app/style/mixins/position'

#container
  absolute: width 100%
  overflow: hidden
  > div
    relative: width 1000px height 750px
    margin-left: auto
    margin-right: auto

#town
  margin-left: auto
  margin-right: auto
  width: 960px
  height: 560px

.castle
  background: top left no-repeat url('../images/town01.jpg')

.village
  background: top left no-repeat url('../images/town02.jpg')

.huts
  background: top left no-repeat url('../images/town03.jpg')

.logout
  background-color: #bbbbbb
  color: white
  absolute: width 70px height 20px
  border-radius: 10px
  box-shadow: 2px 2px 1px 1px gray
  text-align: center
  z-index: 2
  div
    relative: top 1px
  &:hover
    cursor: pointer
  &:active
    box-shadow: 1px 1px 1px 1px gray
