@import 'app/style/mixins/position'

login-style()
  absolute: top 250px width 700px height 701px
  text-align: center


#login, #register, #registration-success
  login-style()
  font-weight: bold
  div
    padding: 3px
  form
    padding-left: 150px
  h2
    font-size: 1.3em
    padding: 5px

#register
  display: none
  top: 225px

#registration-success
  top: 135px

#choose-class
  login-style()
  div
    padding: 3px

#username, #password
  width: 200px

#login-error
  color: red
  font-weight: bold

#loadingStatus
  relative: top 150px

#login-permission-denied
  display: none
