@import 'app/style/mixins/position'

login-style()
  absolute: top 250px width 700px height 701px
  text-align: center


#login
  login-style()
  div
    padding: 3px

#choose-class
  login-style()
  div
    padding: 3px

#username, #password
  width: 200px

#login-error
  color: red
  font-weight: bold

#loadingStatus
  relative: top 150px

#login-permission-denied
  display: none