@import 'app/style/mixins/position'
@import 'app/style/mixins/border'

#meiosis-container
  absolute: left 770px top 25px width 760px height 435px

.cell
  absolute: left 10px top -10px width 300px height 120px
  background-color: rgba(223, 223, 223, 0.55)
  border-top: 40px solid transparent
  z-index: -4
  border-radius: 90px

.meiosis.father
  absolute: top left width 760px height 217px
  z-index: 2

.meiosis.mother
  @extend .meiosis.father
  top: 218px

.meiosis .chromosome-panel
  absolute: top left

.meiosis .allele
  relative: height 22px
  margin-left: 4px

.meiosis .chromosome
  &:not(.chromo-Y)
    background: top left no-repeat url('../images/chromo-full.png')
  &.chromo-Y
    background: top left no-repeat url('../images/chromo-short.png')

  &.selectable
    cursor: pointer
    &:not(.selected)
      &:not(.chromo-Y):hover
        background: top left no-repeat url('../images/chromo-full-hover.png')
      &.chromo-Y:hover
        background: top left no-repeat url('../images/chromo-short-hover.png')

  &.selected
    &:not(.chromo-Y)
      background: top left no-repeat url('../images/chromo-full-selected.png')
    &.chromo-Y
      background: top left no-repeat url('../images/chromo-short-selected.png')

.meiosisControlView
  absolute: top left 470px width 174px height 182px
  border: 1px solid black
  border-radius: 10px
  box-shadow: 5px 5px 5px 1px gray

  button
    absolute: bottom 5px right 5px

.meiosisControlView
  p
  h3
    padding: 5px
  .cost
    absolute: left 5px bottom 25px width 190px
    font-weight: bold

.crossoverPoint
  height: 4px
  width: 30px
  margin: 1px
  &.clickable
    cursor: pointer
    border: 1px dotted black
    margin: 0px
    &:hover
      background-color: yellow
  &.selected
    background-color: green
