#meiosis-container
  position: absolute
  left: 800px
  top: 108px
  width: 760px
  height: 435px

.cell
  background-color: rgba(223, 223, 223, 0.55)
  border-top: 40px solid transparent
  z-index: -4
  height: 120px
  width: 300px
  top: -10px
  left: 10px
  position: absolute
  -moz-border-radius: 90px
  -webkit-border-radius: 90px
  -khtml-border-radius: 90px
  border-radius: 90px

.meiosis.father
  position: absolute
  top: 0px
  left: 0px
  width: 760px
  height: 217px
  z-index: 2

.meiosis.mother
  position: absolute
  top: 218px
  left: 0px
  width: 760px
  height: 217px
  z-index: 2

.meiosis .chromosome-panel
  position: absolute
  left: 0px
  top: 0px

.meiosis .allele
  position: relative
  margin-left: 4px

.meiosis .chromosome.selectable
  cursor: pointer

.meiosis .chromosome.selectable:not(.chromo-Y):hover
  background: top left no-repeat url('../images/chromo-full-hover.png')

.meiosis .chromosome.selected:not(.chromo-Y)
  background: top left no-repeat url('../images/chromo-full-selected.png')

.meiosis .chromosome.selectable.chromo-Y:hover
  background: top left no-repeat url('../images/chromo-short-hover.png')

.meiosis .chromosome.selected.chromo-Y
  background: top left no-repeat url('../images/chromo-short-selected.png')

.meiosis .chromosome:not(.chromo-Y)
  background: top left no-repeat url('../images/chromo-full.png')

.meiosis .chromosome.chromo-Y
  background: top left no-repeat url('../images/chromo-short.png')

.meiosisControlView
  position: absolute
  top: 0px
  left: 470px
  width: 275px
  height: 140px
  border: 1px solid black
  border-radius: 10px
  box-shadow: 5px 5px 5px 1px gray

.meiosisControlView button
  position: absolute
  bottom: 5px
  right: 5px

.meiosisControlView
  p
  h3
    padding: 5px

.crossoverPoint
  height: 3px
  width: 30px
  &.clickable
    cursor: pointer
    &:hover
      background-color: yellow
  &.selected
    background-color: green
