@import 'app/style/mixins/position'
@import 'app/style/mixins/border'

.npc.left
  top: 110px
  left: -8px
  z-index: 2

.npc.right
  top: 110px
  left: 470px
  z-index: 2

.npc
  position: absolute
  .character
    z-index: 0
  .bubble
    position: absolute
    margin-left: 344px
    margin-top: 36px

.speech-bubble
  absolute: bottom 708px
  z-index: 2
  font-size: 1.2em
  width: 245px
  background-color: rgb(251, 252, 225)
  padding: 23px
  border-radius: 35px

.right .speech-bubble
  left: -135px
  &:after
    absolute: right 40px bottom -30px width 0
    content: ""
    position: absolute
    border-width: 0 20px 30px 0
    border-style: solid
    border-color: transparent rgb(251, 252, 225)
    display: block

.left .speech-bubble
  left: 303px
  &:after
    absolute: left 40px bottom -30px width 0
    content: ""
    position: absolute
    border-width: 0 0 30px 20px
    border-style: solid
    border-color: transparent rgb(251, 252, 225)
    display: block

.speech-bubble-no-npc
  absolute: left 340px top 134px width 225px
  z-index: 2
  font-size: 1.2em
  background-color: rgb(251, 252, 225)
  padding: 23px
  border-radius: 35px
  border: black solid 2px

.heart-bubble
  absolute: left 110px top 115px
  z-index: 10
  width: 48px

.heart-bubble-empty
  relative: left top -2px
  width: 48px

.heart-bubble-empty-wrapper
  absolute: left 110px top 115px
  overflow: hidden
  z-index: 11

