@import 'app/style/mixins/position'
@import 'app/style/mixins/border'

.npc
  position: absolute
  .character
    absolute: top 129px
  .bubble
    position: absolute
    margin-left: 20px

.speech-bubble
  absolute: left -250px bottom 14px
  z-index: 2
  font-size: 1.2em
  width: 225px
  background-color: rgb(251, 252, 225)
  padding: 23px
  border-radius: 35px
  &:after
    absolute: right 40px bottom -30px width 0
    content: ""
    position: absolute
    border-width: 0 20px 30px 0
    border-style: solid
    border-color: transparent rgb(251, 252, 225)
    display: block

.speech-bubble-no-npc
  absolute: left 340px top 134px width 225px
  z-index: 2
  font-size: 1.2em
  background-color: rgb(251, 252, 225)
  padding: 23px
  border-radius: 35px
  border: black solid 2px

.heart-bubble
  absolute: left top 90px
  z-index: 0

