.npc
  position: absolute

.npc .bubble
  position: absolute
  margin-left: 20px

.npc .character
  position: absolute
  top: 129px

.speech-bubble
  position: absolute
  z-index: 2
  left: -250px
  bottom: 14px
  font-size: 1.2em
  width: 225px
  background-color: rgb(251, 252, 225)
  padding: 23px
  -moz-border-radius: 35px
  -webkit-border-radius: 35px
  -khtml-border-radius: 35px
  border-radius: 35px

.speech-bubble:after
  content: ""
  position: absolute
  bottom: -30px
  right: 40px
  border-width: 0 20px 30px 0
  border-style: solid
  border-color: transparent rgb(251, 252, 225)
  display: block
  width: 0

.speech-bubble-no-npc
  position: absolute
  z-index: 2
  left: 340px
  top: 134px
  font-size: 1.2em
  width: 225px
  background-color: rgb(251, 252, 225)
  padding: 23px
  -moz-border-radius: 35px
  -webkit-border-radius: 35px
  -khtml-border-radius: 35px
  border-radius: 35px
  border: black solid 2px

.heart-bubble
  position: absolute
  z-index: 0
  left: 0px
  top: 90px

