@import 'app/style/mixins/position'

obstacle(img, width, height)
  background: bottom left no-repeat url(img)
  width: width
  height: height

#obstacle-course-dialog
  display: none
  border-radius 5px
  absolute: width 440px height 375px left 275px top 90px // 560px height available, 950px width
  background-color: #4e8da6
  z-index: 6000

#obstacle-course-dialog-content
  background-color: white
  absolute: bottom 5px right 5px left 5px top 5px
  padding: 14px
  z-index: 6001
  text-align: center
  .align-left
    absolute: left 0px
  .align-right
    absolute: right 0px
  .drake
    absolute: top 44px left 14px
    z-index: 6002
  .overall-time-text
    absolute: top 22px right 60px width 132px
    text-align: center
    div
      height: 1.3em
  .obstacle-time-breakdown
    absolute: bottom 75px left 14px width 140px
    text-align: center
    div
      height: 1.1em
  .reputation-calculation
    absolute: bottom 50px right 14px width 222px
    text-align: left
    div
      height: 1.1em
    .points-title
      text-align: center
      padding-bottom: 10px
    .points
      absolute: right 0px
      &.spent
        color: red
  div.divider
    height: 2px
    background-color: #cccccc
  .obstacle-buttons
    absolute: bottom 14px left 14px right 14px
    text-align: center
  .first-obstacle
    absolute: top 14px left 14px width 180px height 180px
    .obstacle
      absolute: left
      display: inline-block
      &.ducks
        obstacle('../images/obstacle-course/obstacle-ducks.png', 200px, 100px)
        absolute: bottom 0px
      &.desk
        obstacle('../images/obstacle-course/obstacle-desk.png', 200px, 100px)
        absolute: bottom 0px
      &.sheep
        obstacle('../images/obstacle-course/obstacle-sheep.png', 200px, 100px)
        absolute: bottom 0px
      &.rain
        obstacle('../images/obstacle-course/obstacle-rain.png', 200px, 100px)
        absolute: bottom 0px
      &.tree
        obstacle('../images/obstacle-course/tree01.png', 150px, 183px)
        absolute: bottom 0px
      &.pond
        obstacle('../images/obstacle-course/pond01.png', 200px, 84px)
        absolute: bottom 0px

