@import 'app/style/mixins/position'

obstacle(img, width, height)
  background: bottom left no-repeat url('../images/obstacle-course/' + img)
  width: width
  height: height

#obstacle-course-dialog
  display: none
  border-radius 5px
  absolute: width 470px height 375px left 260px top 90px // 560px height available, 950px width
  background-color: #4e8da6
  z-index: 6000

#obstacle-course-dialog-content
  background-color: white
  absolute: bottom 5px right 5px left 5px top 5px
  padding: 14px
  overflow: hidden
  z-index: 6001
  text-align: center
  .align-left
    absolute: left 0px
  .align-right
    absolute: right 0px
  .drake
    absolute: top 44px left 14px
    z-index: 6002
  .overall-time-text
    absolute: top 22px right 60px width 132px
    text-align: center
    div
      height: 1.3em
    .victory
      padding-top: 15px
      font-size: 1.2em
  .obstacle-time-breakdown
    absolute: bottom 75px left 14px width 155px
    text-align: center
    div
      height: 1.1em
  .revealable
    display: none
  .reputation-calculation
    absolute: bottom 50px right 14px width 222px
    text-align: left
    div
      height: 1.1em
    .points-title
      text-align: center
      padding-bottom: 10px
    .points
      absolute: right 0px
      &.spent
        color: red
  div.divider
    height: 2px
    background-color: #cccccc
  .obstacle-buttons
    absolute: bottom 14px left 14px right 14px
    text-align: center
  .current-obstacle
    absolute: top 14px left 14px width 180px height 180px
    .obstacle
      absolute: left bottom
      display: inline-block
      &.after
        display:none
      &.blue
        obstacle('color_blue1.png', 254px, 200px)
        &.after
          obstacle('color_blue2.png', 254px, 200px)
      &.green
        obstacle('color_green1.png', 254px, 175px)
        &.after
          obstacle('color_green2.png', 254px, 175px)
      &.red
        obstacle('color_red1.png', 254px, 215px)
        &.after
          obstacle('color_red2.png', 254px, 215px)
      &.purple
        obstacle('color_purple1.png', 225px, 150px)
        &.after
          obstacle('color_purple2.png', 225px, 150px)
      &.fire
        obstacle('firebreath1.png', 200px, 200px)
        &.after
          obstacle('firebreath2.png', 200px, 200px)
      &.nonmetallic
        obstacle('matte1.png', 254px, 195px)
        &.after
          obstacle('matte2.png', 254px, 195px)
      &.metallic
        obstacle('metallic01.png', 125px, 225px)
        &.after
          obstacle('metallic02.png', 125px, 225px)
      &.narrow-spines
        obstacle('spines-narrow1.png', 200px, 210px)
        &.after
          obstacle('spines-narrow2.png', 200px, 210px)
      &.medium-spines
        obstacle('spines-medium1.png', 254px, 410px)
        &.after
          obstacle('spines-medium2.png', 254px, 410px)
      &.wide-spines
        obstacle('spines-narrow1.png', 175px, 175px)
        &.after
          obstacle('spines-narrow2.png', 175px, 175px)
      &.short-tail
        obstacle('tail_short1.png', 175px, 125px)
        &.after
          obstacle('tail_short2.png', 175px, 125px)
      &.kinked-tail
        obstacle('tail_kinked1.png', 254px, 200px)
        &.after
          obstacle('tail_kinked2.png', 254px, 200px)
      &.long-tail
        obstacle('tail_long1.png', 254px, 375px)
        &.after
          obstacle('tail_long2.png', 254px, 375px)
      &.forward-horns
        obstacle('horns-forward1.png', 250px, 170px)
        &.after
          obstacle('horns-forward2.png', 250px, 170px)
      &.armor
        obstacle('armor1.png', 254px, 150px)
        &.after
          obstacle('armor2.png', 254px, 150px)
      &.wingless
        obstacle('wingless1.png', 254px, 200px)
        &.after
          obstacle('wingless2.png', 254px, 200px)
      &.wings
        obstacle('wings1.png', 254px, 400px)
        &.after
          obstacle('wings2.png', 254px, 400px)
