@import 'app/style/mixins/position'

#topBar
  background: url('../images/header.jpg')
  relative: left 20px width 960px height 120px
  background-color: rgb(150,150,150)
  color: #a1a790
  font-size: 14pt
  font-weight: normal
  .logout
    absolute: right 30px top 25px width 75px height 25px
    font-size: 12pt
    div
      relative: top 3px
  .task-list
    absolute: right 30px top 25px width 125px height 25px
    font-size: 12pt
    div
      relative: top 3px

#greeting
  absolute: left 30px top 20px
  font-size: 25pt

#reputation
  absolute: left 30px top 75px

#level
  absolute: left 400px top 75px width 530px
  text-align: right

