@import 'app/style/mixins/position'

#topBar
  background: url('../images/header.jpg')
  relative: left 20px width 960px height 121px
  background-color: rgb(150,150,150)
  color: white
  font-family: Verdana
  font-size: 1.2em
  .logout
    absolute: right 30px top 25px width 75px height 25px
    div
      relative: top 3px

#greeting
  absolute: left 30px top 20px
  font-size: 1.5em

#reputation
  absolute: left 30px top 75px

#level
  absolute: left 400px top 75px width 530px 
  text-align: right

