@import 'app/style/mixins/position'

#topBar
  relative: left -15px width 1034px height 59px
  background-color: rgb(150,150,150)
  color: white
  font-family: Verdana
  font-size: 1.2em
  .logout
    absolute: right 55px top 15px width 75px height 25px
    div
      relative: top 3px

#greeting
  absolute: left 55px top 15px
  font-size: 1.5em

#reputation
  absolute: left 230px top 20px

#level
  absolute: left 400px top 20px

