@import 'app/style/mixins/position'

#sky
  absolute: left 15px width 960px height 560px
  background: url('../images/world01.jpg')
  background-repeat: no-repeat
  overflow: hidden
  border: 5px solid #402309
  .logout
    absolute: top 10px left 10px

#world
  absolute: left 348px top 87px width 432px height 432px
  background-repeat: no-repeat
  margin-left: auto
  margin-right: auto

#clouds
  absolute: left 280px width 560px height 560px
  background-position: 0px 0px
  background-repeat: no-repeat

.location
  position: absolute
  z-index: 1
  &.enabled
    cursor: pointer

.huts
  height: 90px
  width: 120px

.houses
  height: 70px
  width: 150px

townIcon(img, width=175px, height=125px)
  background: no-repeat center url(img)
  width: width
  height: height

.townIcon1
  townIcon('../images/townIcon1-disabled.png')
  &.enabled
    background: no-repeat center url('../images/townIcon1.png')

.townIcon2
  townIcon('../images/townIcon2-disabled.png')
  &.enabled
    background: no-repeat center url('../images/townIcon2.png')

.townIcon3
  townIcon('../images/townIcon3-disabled.png')
  &.enabled
    background: no-repeat center url('../images/townIcon3.png')

.townIcon4
  townIcon('../images/townIcon4-disabled.png')
  &.enabled
    background: no-repeat center url('../images/townIcon4.png')

.world-town
  height: 110px
  width: 170px

#dragon-right
  background: url(../images/drakesprite-small.png)
  width: 90px
  height: 80px
  background-repeat: no-repeat
  position: absolute
  left: 480px
  top: 100px
  z-index: 2
  -moz-transform: rotate(-20deg)
  -webkit-transform: rotate(-20deg)
  -o-transform: rotate(-20deg)
  -ms-transform: rotate(-20deg)

#dragon-left
  background: url(../images/drakesprite-small.png)
  width: 90px
  height: 80px
  background-repeat: no-repeat
  position: absolute
  left: 480px
  top: 100px
  z-index: 2
  -moz-transform: rotate(-20deg) scaleX(-1)
  -o-transform: rotate(-20deg) scaleX(-1)
  -webkit-transform: rotate(-20deg) scaleX(-1)
  transform: rotate(-20deg) scaleX(-1)
  filter: FlipH
  -ms-filter: "FlipH"

#message
  background: url(../images/click-message.gif)
  background-size: 100%
  width: 200px
  height: 100px
  background-repeat: no-repeat
  position: absolute
  left: 810px
  top: -50px

